.grid-cols-2 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-columns: 1fr;
    grid-auto-flow: dense;
    gap: 0px;
    grid-row: auto;
}

.items-taps {
    display: none;
}

.items-taps.item-show {
    display: block !important;
}

@media(min-width:992px) {
    .grid-cols-2 {
        grid-template-columns: repeat(5, 1fr);
    }
}

.s-equip {
    margin-bottom: 30px;

    .slider-eq {
        .slick-slide>div {
            padding: 10px 10px 10px 0;
        }

        .item-eq {
            border-radius: 10px;
            padding: 5px 14px;
            display: flex !important;
            align-items: center;
            background-color: $white;
            box-shadow: 1px 0px 8px #00000029;

            img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                border: 2px solid $blue;
                margin-right: 10px;
            }
        }
    }
}

.s-situation-f {
    margin-bottom: 30px;

    .s-table {
        overflow: auto;
    }

    .table {
        background-color: $white;
        min-width: 900px;
        margin-bottom: 0;

        .table {
            width: 90%;
            margin: 30px auto;
        }

        thead {
            border-bottom: 2px solid $black;
        }

        tr {
            border-bottom: 1px solid $place-holder;
        }

        td,
        th {
            color: $color-text;
            vertical-align: middle;
        }

        a {
            color: $blue;
        }

        input[type="checkbox"] {
            width: 22px;
            height: 22px;
        }
    }

    .title-medium {
        display: block;
        font-weight: 600;
    }

    .link {
        font-weight: normal;
        color: $blue;
        margin-bottom: 20px;
    }
}

.s-filter {
    background-color: transparent;
    width: 300px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
    overflow-y: auto;
    max-height: 870px;
    height: 100%;
    background-color: $bg;

    &::-webkit-scrollbar {
        width: 6px;
        border-radius: 8px !important;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: $bluehover !important;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: $border-color;
    }

    .form-filter {
        label {
            display: block;
            margin-bottom: 5px;
        }

        input,
        select {
            width: 100%;
        }
    }
}
