.grid-cols-2 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-columns: 1fr;
    grid-auto-flow: dense;
    gap: 0px;
    grid-row: auto;
}

.items-taps {
    display: none;
}

.items-taps.item-show {
    display: block !important;
}

@media(min-width:992px) {
    .grid-cols-2 {
        grid-template-columns: repeat(5, 1fr);
    }
}

.s-equip {
    margin-bottom: 30px;

    .slider-eq {
        .slick-slide>div {
            padding: 10px 10px 10px 0;
        }

        .item-eq {
            border-radius: 10px;
            padding: 5px 14px;
            display: flex !important;
            align-items: center;
            background-color: $white;
            box-shadow: 1px 0px 8px #00000029;

            img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                border: 2px solid $blue;
                margin-right: 10px;
            }
        }
    }
}

.s-situation-f {
    margin-bottom: 30px;

    .s-table {
        overflow: auto;
    }

    .table {
        background-color: $white;
        min-width: 900px;
        margin-bottom: 0;

        .table {
            width: 90%;
            margin: 30px auto;
        }

        thead {
            border-bottom: 2px solid $black;
        }

        tr {
            border-bottom: 1px solid $place-holder;
        }

        td,
        th {
            color: $color-text;
            vertical-align: middle;
        }

        a {
            color: $blue;
        }

        input[type="checkbox"] {
            width: 22px;
            height: 22px;
        }
    }

    .title-medium {
        display: block;
        font-weight: 600;
    }

    .link {
        font-weight: normal;
        color: $blue;
        margin-bottom: 20px;
    }
}

.s-filter {
    background-color: transparent;
    width: 300px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
    overflow-y: auto;
    max-height: 870px;
    height: 100%;
    background-color: $bg;

    &::-webkit-scrollbar {
        width: 6px;
        border-radius: 8px !important;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: $bluehover !important;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: $border-color;
    }

    .form-filter {
        label {
            display: block;
            margin-bottom: 5px;
        }

        input,
        select {
            width: 100%;
        }
    }
}
.s-parametre{
    max-width: 1100px;
}
.nav.nav-tabs {
    width: 100%;
    justify-content: space-between;
    border: 0;
    margin-bottom: 20px;
    overflow-x: auto;
    overflow-y: hidden;
    align-items: flex-end;

    .nav-item {
        width: 25%;
        min-width: 150px;

        .nav-link {
            text-align: center;
            background: transparent !important;
            border: 0;
            color: $b-color;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 24px;
                height: 24px;
                object-fit: contain;
                object-position: center;
            }

        }

        .nav-link.active {
            border-bottom: 2px solid $blue;
            color: $blue;
        }
    }
}
.wrap-infos {
    padding-bottom: 30px;
    margin-bottom: 15px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border-bottom: 2px solid $border-color;
    overflow: auto;

    .box-info {
        margin-right: 10px;
        min-width: 230px;

        .img-user {
            width: 180px;
            height: 180px;
            border-radius: 50%;
            overflow: hidden;
            border: 4px solid $blue;
            margin-bottom: 20px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }

        a {
            line-height: 1.3;
            color: $blue;
            display: block !important;
            margin-bottom: 9px;
        }

        p {
            line-height: 1.3;
            margin-bottom: 15px !important;
        }
    }
}
.s-documents {
    margin-bottom: 20px;
    margin-top: 60px;
    min-height: 100vh;

    input {
        width: 26px;
        height: 26px;
        margin-right: 20px;
    }

    label {
        color: $color-text;
        font-family: $font1;
        font-weight: normal;
        display: flex;
        width: calc(100% - 26px);
    }

    input:checked+label {
        font-weight: bold
    }

}
.s-search {
    .s-situation-f {
        width: calc(100% - 300px);

        .table {
            min-width: 500px !important;
        }
    }
}
.action-download {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border: 0;

    a {
        margin: 5px;
    }

    .droplink {
        display: flex;
        align-items: center;

        &::after {
            content: '';
            width: 0;
            height: 0;
            margin-left: 5px;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 5px solid $blue;
        }
    }
}