<div class="s-dashboard">
	<div class="grid-cols-2">
		{% include '../../components/nav/nav.twig' %}
		<div class="s-infos">
			<div class="items-taps item-show" data-show="s-acceuil">
				<div class="s-equip">
					<h2>Équipes
					</h2>
					<div class="slider-eq">
						<div class="item-eq">
							<img src="../assets/images/ali-morshedlou-WMD64tMfc4k-unsplash.jpg" alt=""/>
							<div class="txt-eq">
								<strong>JHONE DOE</strong>
								<p>Jhone.doe@email.com</p>
							</div>
						</div>
						<div class="item-eq">
							<img src="../assets/images/ali-morshedlou-WMD64tMfc4k-unsplash.jpg" alt=""/>
							<div class="txt-eq">
								<strong>JHONE DOE</strong>
								<p>Jhone.doe@email.com</p>
							</div>
						</div>
						<div class="item-eq">
							<img src="../assets/images/ali-morshedlou-WMD64tMfc4k-unsplash.jpg" alt=""/>
							<div class="txt-eq">
								<strong>JHONE DOE</strong>
								<p>Jhone.doe@email.com</p>
							</div>
						</div>
						<div class="item-eq">
							<img src="../assets/images/ali-morshedlou-WMD64tMfc4k-unsplash.jpg" alt=""/>
							<div class="txt-eq">
								<strong>JHONE DOE</strong>
								<p>Jhone.doe@email.com</p>
							</div>
						</div>
					</div>
				</div>
				<div class="s-situation-f">
					<div class="d-flex justify-content-between flex-wrap">
						<h2>Situation Administrative
						</h2>
						<a href="#" class="link">Voir plus</a>
					</div>
					<div class="s-table">
						<table class="table text-center">
							<thead>
								<tr>
									<th scope="col">Date</th>
									<th scope="col">Grade</th>
									<th scope="col">Échelle</th>
									<th scope="col">Échelon</th>
									<th scope="col">Indice</th>
									<th scope="col">Date d'effet du grade</th>
									<th scope="col">Date d'effet échelon</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>01 / 01 / 2004</td>
									<td>Ingénieur d'application grade principal</td>
									<td>10</td>
									<td>01</td>
									<td>402- 01</td>
									<td>01 / 01 / 2004</td>
									<td>01 / 01 / 2004</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="s-situation-f">
					<div class="d-flex justify-content-between flex-wrap">
						<h2>Affectations
						</h2>
						<a href="#" class="link">Voir plus</a>
					</div>
					<div class="s-table">
						<table class="table text-center">
							<thead>
								<tr>
									<th scope="col">
										Date d'affectation
									</th>
									<th scope="col">
										Affectation
									</th>
									<th scope="col">
										Fonction
									</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>01 / 01 / 2004</td>
									<td>SG / DIV / SERVICE</td>
									<td>Fonctionnaire</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="s-situation-f">
					<div class="d-flex justify-content-between flex-wrap">
						<h2>Parcours Académique
						</h2>
						<a href="#" class="link">Voir plus</a>
					</div>
					<div class="s-table">
						<table class="table text-center">
							<thead>
								<tr>
									<th scope="col">Diplôme</th>
									<th scope="col">Spécialité</th>
									<th scope="col">Établissement</th>
									<th scope="col">Type</th>
									<th scope="col">Categorie</th>
									<th scope="col">
										Date de remise du diplôme
									</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Diplôme</td>
									<td>Sciences Economiques</td>
									<td>UNIVERSITÉ MOHAMED V</td>
									<td>Master</td>
									<td>Diplôme de recrutement</td>
									<td>00 / 00 / 0000</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="s-situation-f">
					<div class="d-flex justify-content-between flex-wrap">
						<h2>Formation
						</h2>
						<a href="#" class="link">Voir plus</a>
					</div>
					<div class="s-table">
						<table class="table text-center">
							<thead>
								<tr>
									<th scope="col">
										Titre de formation
									</th>
									<th scope="col">Domaine de formation</th>
									<th scope="col">Date début</th>
									<th scope="col">Date fin</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Titre de formation</td>
									<td>Domaine de formation</td>
									<td>00 / 00 / 0000</td>
									<td>00 / 00 / 0000</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="items-taps" data-show="s-recherche">
				<div class="s-search">
					<div class="s-situation-f">
						<h1>Recherche</h1>
						<div class="d-flex align-items-center justify-content-between flex-wrap">
							<strong class="mb-3">Résultat de recherche</strong>
							<div class="links d-flex">
								<a href="#" class="me-3 mb-3" download>Exporter les résultats sous format Excel</a>
								<a href="#" class="mb-3" download>Exporter les résultats sous format PDF</a>
							</div>
						</div>
						<div class="s-table mb-2 mt-2">
							<table class="table text-center">
								<thead>
									<tr>
										<th scope="col">CNIE</th>
										<th scope="col">
											PPR
										</th>
										<th scope="col">
											Nom prénom
										</th>
										<th scope="col">
											Échelle
										</th>
										<th scope="col">
											Échelon
										</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>XX 00000</td>
										<td>0000000</td>
										<td>Jhon Doe</td>
										<td>10</td>
										<td>01</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="s-filter">
						<form action="/" method="post" class="form-filter">
							<h2 class="text-center">Filtre</h2>
							<div class="form-group mb-2">
								<label>Type de diplôme</label>
								<select>
									<option>Options</option>
								</select>
							</div>
							<div class="form-group mb-2">
								<label>Spécialité de diplôme</label>
								<input type="text"/>
							</div>
							<div class="form-group mb-2">
								<label>Catégorie de diplôme</label>
								<select>
									<option>Options</option>
								</select>
							</div>
							<div class="form-group mb-2">
								<label>Titre de formation</label>
								<input type="text"/>
							</div>
							<div class="form-group mb-2">
								<label>Service</label>
								<select>
									<option>Options</option>
								</select>
							</div>
							<div class="form-group mb-2">
								<label>Fonction</label>
								<select>
									<option>Options</option>
								</select>
							</div>
							<div class="form-group mb-2">
								<label>Échelle</label>
								<select>
									<option>Options</option>
								</select>
							</div>
							<div class="form-group mb-2">
								<label>Échelon</label>
								<select>
									<option>Options</option>
								</select>
							</div>
							<div class="form-group mb-2">
								<label>Année de recrutement</label>
								<input type="text">
							</div>
							<div class="form-group mb-2">
								<label>Année de naissance</label>
								<input type="date"/>
							</div>
							<div class="form-group mb-2">
								<label>Situation familiale</label>
								<select>
									<option>Options</option>
								</select>
							</div>
							<div class="action-btns mt-3">
								<button class="btn btn-small btn-blue">Rechercher</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div
				class="items-taps" data-show="s-notifications">
				<!-- fonctionnaire -->
				<div class="s-situation-f">
					<div class="d-flex justify-content-between flex-wrap">
						<h1 class="mb-4">Notifications
						</h1>
						<a href="#" class="link">Vider la boîte de réception</a>
					</div>
					<div class="s-table">
						<table class="table text-center">
							<tbody>
								<tr class="border-dark">
									<td class="nowrap">00 / 00 / 0000</td>
									<td class="text-start">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<!-- Les notificatios chef div ou chef service -->
				<div class="s-situation-f">
					<div class="s-table">
						<table class="table text-center">
							<thead>
								<tr>
									<th scope="col">
										CNIE
									</th>
									<th scope="col">
										PPR
									</th>
									<th scope="col">
										Nom prénom
									</th>
									<th scope="col">
										Type de congé
									</th>
									<th scope="col">
										Nombre de jours
									</th>
									<th scope="col">
										Date sortie
									</th>
									<th scope="col">
										Date entrée
									</th>
									<th scope="col">
										Actions
									</th>
								</tr>
							</thead>
							<tbody>
								<tr class="border-dark">
									<td>XX 00000</td>
									<td>0000000</td>
									<td>Jhon Doe</td>
									<td>Type de congé</td>
									<td>00</td>
									<td>00 / 00 / 0000</td>
									<td>00 / 00 / 0000</td>
									<td class="action-btns">
										<button class="btn btn-small btn-border-blue">Refuser</button>
										<button class="btn btn-small btn-blue">Accepter</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<!-- Les imprimés demandés -->
				<div class="s-formations bg-white">
					<div class="tabs-formation tabs-notif">
						<ul class="nav nav-tabs" id="myTab" role="tablist">
							<li class="nav-item" role="presentation">
								<button class="nav-link active" id="imprimés-tab" data-bs-toggle="tab" data-bs-target="#imprimés-tab-pane" type="button" role="tab" aria-controls="imprimés-tab-pane" aria-selected="true">Les imprimés demandés</button>
							</li>
							<li class="nav-item" role="presentation">
								<button class="nav-link" id="congés-tab" data-bs-toggle="tab" data-bs-target="#congés-tab-pane" type="button" role="tab" aria-controls="congés-tab-pane" aria-selected="true">Demandes de congés</button>
							</li>
						</ul>
						<div class="tab-content" id="myTabContent">
							<div class="tab-pane fade show active" id="imprimés-tab-pane" role="tabpanel" aria-labelledby="imprimés-tab" tabindex="0">
								<div class="s-situation-f">
									<div class="s-table mb-2 p-3">
										<table class="table text-center">
											<thead>
												<tr>
													<th scope="col">CNIE</th>
													<th scope="col">
														PPR
													</th>
													<th scope="col">
														Nom prénom
													</th>
													<th scope="col">
														Téléchargement
													</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>XX 00000</td>
													<td>0000000</td>
													<td>Jhon Doe</td>
													<td class="action-download">
														<a href="#" download>Document.pdf</a>
														<a href="#" download>Document.pdf</a>
														<a href="#" download>Document.pdf</a>
														<a href="#" download>Document.pdf</a>
														<a href="#" download>Document.pdf</a>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
							<div class="tab-pane fade" id="congés-tab-pane" role="tabpanel" aria-labelledby="congés-tab" tabindex="0">
								<div class="s-situation-f">
									<div class="s-table mb-2 p-3">
										<table class="table text-center">
											<thead>
												<tr>
													<th scope="col">CNIE</th>
													<th scope="col">
														PPR
													</th>
													<th scope="col">
														Nom prénom
													</th>
													<th scope="col">
														Type de congé
													</th>
													<th scope="col">
														Nombre de jours
													</th>
													<th scope="col">
														Date sortie
													</th>
													<th scope="col">
														Date entré
													</th>
													<th scope="col">
														Téléchargement
													</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>XX 00000</td>
													<td>0000000</td>
													<td>Jhon Doe</td>
													<td>Type de congé</td>
													<td>00</td>
													<td>00 / 00 / 0000</td>
													<td>00 / 00 / 0000</td>
													<td>
														<a href="#" download>Document.pdf</a>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="items-taps" data-show="s-conge">
				<h1>Demande de congé
				</h1>
				<div class='d-flex justify-content-between flex-wrap mb-5 mt-4'>
					<p class="mb-3">
						Veuillez remplir les champs pour demander un congé :
					</p>
					<p class="mb-3">
						Nombre de jours restants :
						<strong>16</strong>
					</p>
				</div>
				<form action="#" method="post">
					<div class="mb-3 d-flex flex-wrap justify-content-between align-items-center">
						<div class="mb-4">
							<label for="exampleFormControlInput1" class="form-label">Type de congé :</label>
							<select class="form-control form-select" aria-label="Default select example">
								<option selected>Option</option>
								<option value="1">One</option>
								<option value="2">Two</option>
								<option value="3">Three</option>
							</select>
						</div>
						<div class="mb-4">
							<label for="exampleFormControlInput1" class="form-label">Date sortie :</label>
							<input type="date" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
						</div>
						<div class="mb-4">
							<label for="exampleFormControlInput1" class="form-label">Date entré :</label>
							<input type="date" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
						</div>
						<div class="mb-4 mb-lg-0">
							Vous avez sélectionné
							<strong>10 jours</strong>
						</div>
						<div class='btns-form mb-3'>
							<button class="btn btn-small btn-border-blue">Annuler</button>
							<button class="btn btn-small btn-blue ms-3">Valider</button>
						</div>
					</div>
				</form>
				<div class="s-situation-f">
					<div class="d-flex justify-content-between flex-wrap">
						<h2>Détail des congés pris :</h2>
						<a href="#" class="link">Voir plus</a>
					</div>
					<div class="s-table">
						<table class="table text-center">
							<thead>
								<tr>
									<th scope="col">Type de congé</th>
									<th scope="col">Nombre de jours</th>
									<th scope="col">Date sortie</th>
									<th scope="col">Date Date entrée</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Type de congé</td>
									<td>
										00
									</td>
									<td>00 / 00 / 0000</td>
									<td>
										00 / 00 / 0000
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="items-taps s-documents" data-show="s-documents">
				<h1>Mes Documents
				</h1>
				<h2>Veuillez bien choisir les documents souhaités :
				</h2>
				<form action="/" method="post">
					<div class="d-flex align-items-center mb-5">
						<input type="checkbox" id="checkbox1"/>
						<label for="checkbox1">Attestation de travail</label>
					</div>
					<div class="d-flex align-items-center mb-5">

						<input type="checkbox" id="checkbox2"/>
						<label for="checkbox2">Attestation de salaire</label>
					</div>
					<div class="d-flex align-items-center mb-5">
						<input type="checkbox" id="checkbox3"/>
						<label for="checkbox3">Fiche de paie</label>
					</div>
					<div class="d-flex align-items-center mb-5">
						<input type="checkbox" id="checkbox4"/>
						<label for="checkbox4">Attestation de quitter le territoire national</label>
					</div>
					<div class='btns-form'>
						<button class="btn btn-small btn-border-blue me-2">Annuler</button>
						<button class="btn btn-small btn-blue">Envoyer demmande</button>
					</div>
				</form>
			</div>
			<div class="items-taps s-parametre" data-show="s-parametres">
				<h1 class="mb-5">Paramètres de compte</h1>
				<form action="#" method="POST">
					<div class="item-infos mb-3">
						<h2 class="mb-5">Adresse email
						</h2>
						<div class="mb-5">
							<input type="email" value="jhon.doe@gmail.com"/>
						</div>
					</div>
					<div class="item-infos mb-3">
						<h2 class="mb-5">Numéro de téléphone
						</h2>
						<div class="mb-5">
							<input type="tel" value="00 00 00 00 00"/>
						</div>
					</div>
					<div class="item-infos mb-3">
						<h2 class="mb-5">Mot de passe
						</h2>
						<div class="mb-3">
							<label>Nouveau mot de passe</label>
							<input type="text" placeholder="••••••"/>
						</div>
						<div class="mb-5">
							<label>Mot de passe actuel</label>
							<input type="text" placeholder="••••••"/>
						</div>
						<div class="mb-3">
							<p class="mb-3">Vous ne vous souvenez pas de votre mot de passe actuel ?</p>
							<button class="btn btn-small btn-blue">
								Réinitialisez votre mot de passe.
							</button>
						</div>
					</div>
					<div class='mb-4'>
						<button class="btn btn-small btn-blue">Mettre à jour</button>
					</div>
				</form>
			</div>
			<div class="items-taps" data-show="s-informations">
				<h1 class="mb-4">Mes informations</h1>
				<div class="wrap-infos">
					<div class="box-info">
						<div class="img-user">
							<img src="../assets/images/ali-morshedlou-WMD64tMfc4k-unsplash.jpg" alt=""/>
						</div>
					</div>
					<div class="box-info">
						<p>Nom FR :
							<strong>Doe</strong>
						</p>
						<p>Prénome FR :
							<strong>Jhon</strong>
						</p>
						<p>Sexe :
							<strong>Masculin</strong>
						</p>
						<p>IDSC :
							<strong>0000000000</strong>
						</p>
						<p>Lieu de naissance :
							<strong>RABAT</strong>
						</p>
					</div>
					<div class="box-info">
						<p>Nom AR :
							<strong>داو</strong>
						</p>
						<p>Prénom AR :
							<strong>جون</strong>
						</p>
						<p>CNIE :
							<strong>XX 00000</strong>
						</p>
						<p>Etat civil N° :
							<strong>111 / 1996</strong>
						</p>
						<p>Province ou ville de naissance :
							<strong>RABAT</strong>
						</p>
					</div>
					<div class="box-info">
						<p>Fis de Jack ben Adam</p>
						<p>Et de Camila bent Charles</p>
						<p>Valable jusqu'au :
							<strong>12 / 20 / 2035</strong>
						</p>
						<p>Date de naissance :
							<strong>03 / 06 / 1996</strong>
						</p>
						<p>Commune de naissance :
							<strong>AGDAL RIYAD</strong>
						</p>
					</div>
				</div>
				<div class="tabs-formation">
					<ul class="nav nav-tabs" id="myTab" role="tablist">
						<li class="nav-item" role="presentation">
							<button class="nav-link active" id="familiale-tab" data-bs-toggle="tab" data-bs-target="#familiale-tab-pane" type="button" role="tab" aria-controls="familiale-tab-pane" aria-selected="true">Informations Familiale</button>
						</li>
						<li class="nav-item" role="presentation">
							<button class="nav-link" id="professionnel-tab" data-bs-toggle="tab" data-bs-target="#professionnel-tab-pane" type="button" role="tab" aria-controls="professionnel-tab-pane" aria-selected="true">Parcours Professionnel</button>
						</li>
						<li class="nav-item" role="presentation">
							<button class="nav-link" id="académique-tab" data-bs-toggle="tab" data-bs-target="#académique-tab-pane" type="button" role="tab" aria-controls="académique-tab-pane" aria-selected="true">Parcours Académique</button>
						</li>
						<li class="nav-item" role="presentation">
							<button class="nav-link" id="formation-tab" data-bs-toggle="tab" data-bs-target="#formation-tab-pane" type="button" role="tab" aria-controls="formation-tab-pane" aria-selected="true">Formation</button>
						</li>
					</ul>
					<div class="tab-content" id="myTabContent">
						<div class="tab-pane fade show active" id="familiale-tab-pane" role="tabpanel" aria-labelledby="familiale-tab" tabindex="0">
							<div class="wrap-infos border-0">
								<div class="box-info">
									<p>Situation de famille :
										<strong>Marié(e)</strong>
									</p>
									<p>
										Nom de l'époux (se) FR  :
										<strong>Collins</strong>
									</p>
									<p>Prénom de l'époux (se) FR :
										<strong>Patricia</strong>
									</p>
									<p>Date de naissance :
										<strong>25 / 11 / 1999</strong>
									</p>
								</div>
								<div class="box-info">
									<p>Nom de l'époux (se) AR :
										<strong>كولينز</strong>
									</p>
									<p>Prénom de l'époux (se) AR :
										<strong>باتريشيا</strong>
									</p>
									<p>Lieu de naissance :
										<strong>CASABLANCA</strong>
									</p>
								</div>
								<div class="box-info">
									<p>Nombre d'enfants :
										<strong>02</strong>
									</p>
									<p>N° CNIE de l'époux (se) :
										<strong>XX 00000</strong>
									</p>
									<p>Valable jusqu'au :
										<strong>12 / 20 / 2041</strong>
									</p>
									<p>IDSC de l'époux (se) :
										<strong>0000000000</strong>
									</p>
								</div>
							</div>
							<div class="s-situation-f">
								<div class="s-table mb-4">
									<table class="table text-center">
										<thead>
											<tr>
												<th scope="col">Nom de l'enfant
												</th>
												<th scope="col">
													Prénom de l'enfant
												</th>

												<th scope="col">
													Sexe
												</th>
												<th scope="col">
													Date de naissance
												</th>
												<th scope="col">
													Nom et Prénom du tuteur
												</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>Doe</td>
												<td>Jane</td>

												<td>Féminin</td>
												<td>04 / 10 / 2006</td>
												<td>Jhon Doe</td>
											</tr>
										</tbody>
									</table>
								</div>
								<strong class="title-medium mb-3">Coordonnées Et Détails D'hébergement :</strong>
							</div>
							<div class="wrap-infos border-0">
								<div class="box-info">
									<p>Commune de résidence :
										<strong>ASSA</strong>
									</p>
									<p>
										Adresse e-mail :
										<strong>jhon.doe@gmail.com</strong>
									</p>
								</div>
								<div class="box-info">
									<p>Province ou ville de résidence :
										<strong>
											ASSA ZAG</strong>
									</p>
									<p>Numéro de téléphone :
										<strong>00 00 00 00 00</strong>
									</p>
								</div>
								<div class="box-info">
									<p>Adresse :
										<strong>HAY ZAOUIA TIJANIYA ASSA 81002</strong>
									</p>
								</div>
							</div>
						</div>
						<div class="tab-pane fade" id="professionnel-tab-pane" role="tabpanel" aria-labelledby="professionnel-tab" tabindex="0">
							<div class="wrap-infos border-0">
								<div class="box-info">
									<p>Situation Statutaire :
										<strong>Titulaire</strong>
									</p>
									<p>
										Catégorie :
										<strong>Personnel des Corps Inter-ministériels</strong>
									</p>
									<p>Grade :
										<strong>Ingénieur d'application grade principal</strong>
									</p>
									<p>Date d'effet du grade :<strong>
											01 / 01 / 2004</strong>
									</p>
								</div>
								<div class="box-info">
									<p>PPR :<strong>
											0000000</strong>
									</p>
									<p>Échelle :<strong>
											10</strong>
									</p>
									<p>Indice-Échelon :
										<strong>
											428 - 02</strong>
									</p>
									<p>Date d'effet échelon :<strong>
											01 / 01 / 2005</strong>
									</p>
								</div>
								<div class="box-info">
									<p>Date de recrutement :
										<strong>AGDAL RIYAD 01 / 01 / 2004</strong>
									</p>
									<p>Affectation  :
										<strong>SG / DIV / SERVICE</strong>
									</p>
									<p>Fonction  :
										<strong>Fonctionnaire</strong>
									</p>
									<p>Date d'affectation :
										<strong>01 / 01 / 2004</strong>
									</p>
								</div>
							</div>

							<div class="s-situation-f">
								<strong class="title-medium mb-3">Situation Administrative</strong>
								<div class="s-table mb-3">
									<table class="table text-center">
										<thead>
											<tr>
												<th scope="col">Date</th>
												<th scope="col">
													Grade
												</th>
												<th scope="col">
													Échelle
												</th>
												<th scope="col">
													Échelon
												</th>
												<th scope="col">
													Indice
												</th>
												<th scope="col">
													Date d'effet du grade
												</th>
												<th scope="col">
													Date d'effet échelon
												</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>01 / 01 / 2004</td>
												<td>Ingénieur d'application grade principal</td>
												<td>10</td>
												<td>01</td>
												<td>402- 01</td>
												<td>01 / 01 / 2004</td>
												<td>01 / 01 / 2004</td>
											</tr>
										</tbody>
									</table>
								</div>
								<strong class="title-medium mb-3">Affectations</strong>
								<div class="s-table">
									<table class="table text-center">
										<thead>
											<tr>
												<th scope="col">Date d'affectation</th>
												<th scope="col">
													Affectation
												</th>
												<th scope="col">
													Fonction
												</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>01 / 01 / 2004</td>
												<td>SG / DIV / SERVICE</td>
												<td>Fonctionnaire</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<div class="tab-pane fade" id="académique-tab-pane" role="tabpanel" aria-labelledby="académique-tab" tabindex="0">
							<div class="s-situation-f">
								<div class="s-table">
									<table class="table text-center">
										<thead>
											<tr>
												<th scope="col">Diplôme</th>
												<th scope="col">
													Spécialité
												</th>
												<th scope="col">
													Établissement
												</th>
												<th scope="col">
													Type
												</th>
												<th scope="col">
													Categorie
												</th>
												<th scope="col">
													Date de remise du diplôme
												</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>Diplôme</td>
												<td>Sciences Economiques</td>
												<td>
													UNIVERSITÉ MOHAMED V
												</td>
												<td>Master</td>
												<td>Diplôme de recrutement</td>
												<td>00 / 00 / 0000</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<div class="tab-pane fade" id="formation-tab-pane" role="tabpanel" aria-labelledby="formation-tab" tabindex="0">
							<div class="s-situation-f">
								<div class="s-table">
									<table class="table text-center">
										<thead>
											<tr>
												<th scope="col">Titre de formation</th>
												<th scope="col">
													Domaine de formation
												</th>
												<th scope="col">
													Date début
												</th>
												<th scope="col">
													Date fin
												</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>Titre de formation</td>
												<td>Domaine de formation</td>
												<td>00 / 00 / 0000</td>
												<td>00 / 00 / 0000</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
