$blue: #0F2DFF;
$bluehover: #0F2DFF50;
$orange: #F9B238;
$green: #43A676;
$red: #D61D1D;
$place-holder: #C1D3EB;
$b-color: #6D86A7;
$color-text: #1D1A31;
$bg: #F7F9FB;
$bg2: #FAFAFA;
$white: #fff;
$black: #0c0101;
$border-color: #ebecee;
//fonts
$font1: 'Poppins';
