<div class="s-dashboard" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="900">
	<div class="grid-cols-2">
		{% include '../../components/nav-dashboard/nav-dashboard.twig' %}
		<div class="s-infos">
			<div class="d-flex justify-content-between flex-wrap align-items-center mb-5">
				<h1 class="mb-0">AJOUTER</h1>
				<div>
					<a href="dashboard.html">Revenir au tableau de bord</a>
				</div>
			</div>
			<div class="s-ajout">
				<form
					action="" method="post" class="form">
					<!-- Progress bar -->
					<div class="progressbar">
						<div class="progress-step progress-step-active">Informations Personnelle</div>
						<div class="progress-step">Informations Familiale</div>
						<div class="progress-step">Informations  d'hébergement</div>
						<div class="progress-step">Parcours Professionnel</div>
						<div class="progress-step">Parcours Académique</div>
						<div class="progress-step">Formations</div>
					</div>
					<!-- Steps -->
					<div class="form-step form-step-active">
						<div class="d-flex justify-content-between flex-wrap align-items-center mt-3">
							<strong class="mb-3">Informations Personnelle</strong>
							<div class="mb-3">
								<u>Champ obligatoire
									<span class="text-danger">*</span>
								</u>
								<u class="ms-3">Champ obligatoire si disponibles
									<span class="text-warning">*</span>
									<span class="text-danger">*</span>
								</u>
							</div>
						</div>
						<div class="mt-5 d-grid-4">
							<div class="input-form">
								<label>Nom
									<span class="text-danger">*</span>
								</label>
								<input type="text" autocomplete="false"/>
							</div>
							<div class="input-form">
								<label dir="rtl">الاسم الشخصي
									<span class="text-danger">*</span>
								</label>
								<input type="text" autocomplete="false" dir="rtl"/>
							</div>

							<div class="input-form">
								<label>Prénom
									<span class="text-danger">*</span>
								</label>
								<input type="text" autocomplete="false"/>
							</div>
							<div class="input-form">
								<label dir="rtl">الاسم العائلي
									<span class="text-danger">*</span>
								</label>
								<input type="text" autocomplete="false" dir="rtl"/>
							</div>
							<div class="input-form">
								<label>Sexe
									<span class="text-danger">*</span>
								</label>
								<input type="text" autocomplete="false"/>
							</div>
							<div class="input-form">
								<label>CNIE
									<span class="text-danger">*</span>
								</label>
								<input type="text" autocomplete="false"/>
							</div>
							<div class="input-form p-relative">
								<label>Importer la CNIE
									<span class="text-danger">*</span>
								</label>
								<input type="file"/>
							</div>
							<div class="input-form">
								<label>Valable jusqu'au
									<span class="text-danger">*</span>
								</label>
								<input type="date"/>
							</div>

							<div class="input-form">
								<label>Prénom du père
									<span class="text-danger">*</span>
								</label>
								<input type="text" autocomplete="false"/>
							</div>
							<div class="input-form">
								<label dir="rtl">الاسم الشخصي للأب
									<span class="text-danger">*</span>
								</label>
								<input type="text" autocomplete="false" dir="rtl"/>
							</div>
							<div class="input-form">
								<label>Prénom du grand père paternel
									<span class="text-danger">*</span>
								</label>
								<input type="text" autocomplete="false"/>
							</div>
							<div class="input-form">
								<label dir="rtl">الاسم الشخصي للجد من الأب
									<span class="text-danger">*</span>
								</label>
								<input type="text" autocomplete="false" dir="rtl"/>
							</div>
							<div class="input-form">
								<label>Prénom de la mère
									<span class="text-danger">*</span>
								</label>
								<input type="text" autocomplete="false"/>
							</div>
							<div class="input-form">
								<label dir="rtl">الاسم الشخصي للام
									<span class="text-danger">*</span>
								</label>
								<input type="text" autocomplete="false" dir="rtl"/>
							</div>
							<div class="input-form">
								<label>Prénom du grand père maternel
									<span class="text-danger">*</span>
								</label>
								<input type="text" autocomplete="false"/>
							</div>
							<div class="input-form">
								<label dir="rtl">الاسم الشخصي للجد من الأب
									<span class="text-danger">*</span>
								</label>
								<input type="text" autocomplete="false" dir="rtl"/>
							</div>
							<div class="input-form">
								<label>Date de naissance
									<span class="text-danger">*</span>
								</label>
								<input type="date"/>
							</div>
							<div class="input-form">
								<label>Lieu de naissance
									<span class="text-danger">*</span>
								</label>
								<input type="text" autocomplete="false"/>
							</div>
							<div class="input-form">
								<label dir="rtl">مكان  الازدياد
									<span class="text-danger">*</span>
								</label>
								<input type="text" autocomplete="false" dir="rtl"/>
							</div>
							<div class="input-form">
								<label>Province ou ville de naissance
									<span class="text-danger">*</span>
								</label>
								<input type="text" autocomplete="false"/>
							</div>
							<div class="input-form">
								<label dir="rtl">عمالة أو مدينة الإزدياد
									<span class="text-danger">*</span>
								</label>
								<input type="text" autocomplete="false" dir="rtl"/>
							</div>
							<div class="input-form">
								<label>Commune de naissance
									<span class="text-danger">*</span>
								</label>
								<input type="text" autocomplete="false"/>
							</div>
							<div class="input-form">
								<label dir="rtl">جماعة الإزدياد
									<span class="text-danger">*</span>
								</label>
								<input type="text" autocomplete="false" dir="rtl"/>
							</div>
							<div class="input-form p-relative">
								<label>Importer l'attestation du RIB
									<span class="text-danger">*</span>
								</label>
								<input type="file"/>
							</div>
							<div class="input-form p-relative">
								<label>Importer la photo du fonctionnaire
									<span class="text-danger">*</span>
								</label>
								<input type="file"/>
							</div>
						</div>
						<div class="btns-group mt-5">
							<div>
								<a href="javascript:void(0)" class="btn btn-small btn-border-blue me-3">Vider</a>
								<a href="javascript:void(0);" class="btn-next btn btn-small btn-blue">Suivant</a>
							</div>
						</div>
					</div>
					<div class="form-step">
						<div class="d-flex justify-content-between flex-wrap align-items-center mt-3">
							<strong class="mb-3">Informations Familiale</strong>
							<div class="mb-3">
								<u>Champ obligatoire
									<span class="text-danger">*</span>
								</u>
								<u class="ms-3">Champ obligatoire si disponibles
									<span class="text-warning">*</span>
									<span class="text-danger">*</span>
								</u>
							</div>
						</div>
						<div class="d-grid-4 mt-4 mb-4">
							<div class="input-form">
								<label>Année État Civil
									<span class="text-danger">*</span>
								</label>
								<input type="date"/>
							</div>
							<div class="input-form">
								<label>Etat civil N°
									<span class="text-danger">*</span>
								</label>
								<input type="number" min="0" autocomplete="false"/>
							</div>
							<div class="input-form">
								<label>IDCS
									<span class="text-warning">*</span>
									<span class="text-danger">*</span>
								</label>
								<input type="text" autocomplete="false"/>
							</div>
							<div class="p-relative input-form">
								<label>Importer l'extrait de naissance
									<span class="text-danger">*</span>
								</label>
								<input type="file"/>
							</div>
							<div class="input-form">
								<label>Situation de famille
									<span class="text-danger">*</span>
								</label>
								<select>
									<option>Marie</option>
									<option>cele</option>
									<option>veuf/veuve</option>
								</select>
							</div>
						</div>
						<div class="w-100  wrap-famille mb-5">
							<div class="form-partner"></div>
							<div class="d-flex align-items-center justify-content-end mb-3">
								<a href="javascript:void(0);" class="btn btn-small btn-blue add-partner">Ajouter famille</a>
							</div>
						</div>
						<div class="btns-group mt-5">
							<a href="javascript:void(0);" class="btn-prev btn btn-small btn-blue">Précédent</a>
							<div>
								<a href="javascript:void(0)" class="btn btn-small btn-border-blue me-3">Vider</a>
								<a href="javascript:void(0);" class="btn-next btn btn-small btn-blue">Suivant</a>
							</div>
						</div>
					</div>
					<div class="form-step">
						<div class="d-flex justify-content-between flex-wrap align-items-center mt-3">
							<strong class="mb-3">Cordonnées et détails d'hébergement</strong>
							<div class="mb-3">
								<u>Champ obligatoire
									<span class="text-danger">*</span>
								</u>
								<u class="ms-3">Champ obligatoire si disponibles
									<span class="text-warning">*</span>
									<span class="text-danger">*</span>
								</u>
							</div>
						</div>
						<div class="d-grid-4 mt-5">
							<div class="input-form">
								<label>Commune de résidence
									<span class="text-danger">*</span>
								</label>
								<input type="text" autocomplete="false"/>
							</div>
							<div class="input-form">
								<label dir="rtl">جماعة الإقامة
									<span class="text-danger">*</span>
								</label>
								<input type="text" autocomplete="false" dir="rtl"/>
							</div>
							<div class="input-form">
								<label>Province ou ville de résidence
									<span class="text-danger">*</span>
								</label>
								<input type="text"/>
							</div>
							<div class="input-form">
								<label dir="rtl">عمالة أو مدينة الإقامة
									<span class="text-danger">*</span>
								</label>
								<input type="text" autocomplete="false" dir="rtl"/>
							</div>
							<div class="input-form">
								<label>
									Adresse e-mail
									<span class="text-danger">*</span>
								</label>
								<input type="email"/>
							</div>
							<div class="input-form">
								<label>Numéro de téléphone
									<span class="text-danger">*</span>
								</label>
								<input type="tel"/>
							</div>
							<div class="input-form">
								<label>Adresse
									<span class="text-danger">*</span>
								</label>
								<textarea autocomplete="false"></textarea>
							</div>
							<div class="input-form">
								<label dir="rtl">العنوان
									<span class="text-danger">*</span>
								</label>
								<textarea autocomplete="false" dir="rtl"></textarea>
							</div>
						</div>
						<div class="btns-group mt-5">
							<a href="javascript:void(0)" class="btn-prev btn btn-small btn-blue">Précédent</a>
							<div>
								<a href="javascript:void(0)" class="btn btn-small btn-border-blue me-3">Vider</a>
								<a href="javascript:void(0);" class="btn-next btn btn-small btn-blue">Suivant</a>
							</div>
						</div>
					</div>
					<div class="form-step">
						<div class="d-flex  justify-content-between flex-wrap align-items-center mt-3">
							<strong class="mb-3">Parcours Professionnel</strong>
							<div class="mb-3">
								<u>Champ obligatoire
									<span class="text-danger">*</span>
								</u>
								<u class="ms-3">Champ obligatoire si disponibles
									<span class="text-warning">*</span>
									<span class="text-danger">*</span>
								</u>
							</div>
						</div>
						<div class="mt-5 mb-5 d-grid-4">
							<div class="input-form">
								<label>Mode
									<span class="text-danger">*</span>
								</label>
								<select>
									<option>
										Mutation / Recrutement
									</option>
								</select>
							</div>
							<div class="input-form">
								<label>Situation Statutaire
									<span class="text-danger">*</span>
								</label>
								<select>
									<option>
										Situation Statutaire
									</option>
								</select>
							</div>
							<div class="input-form">
								<label>Date de recrutement
									<span class="text-danger">*</span>
								</label>
								<input type="date"/>
							</div>
							<div class="input-form">
								<label>PPR
									<span class="text-warning">*</span>
									<span class="text-danger">*</span>
								</label>
								<input type="number" min="0" autocomplete="false"/>
							</div>
							<div class="p-relative input-form">
								<label>
									Arrête de titularisation
									<span class="text-warning">*</span>
									<span class="text-danger">*</span>
								</label>
								<input type="file"/>
							</div>
							<div class="input-form">
								<label>Catégorie
									<span class="text-danger">*</span>
								</label>
								<select>
									<option>
										Catégorie
									</option>
								</select>
							</div>
							<div class="input-form">
								<label>Grade
									<span class="text-danger">*</span>
								</label>
								<select>
									<option>
										Grade
									</option>
								</select>
							</div>
							<div class="input-form">
								<label>Echelle
									<span class="text-danger">*</span>
								</label>
								<input type="number" min="0" autocomplete="false">
							</div>
							<div class="input-form">
								<label>Echelon
									<span class="text-danger">*</span>
								</label>
								<input type="number" min="0" autocomplete="false">
							</div>
							<div class="input-form">
								<label>
									Date d'effet du grade
									<span class="text-danger">*</span>
								</label>
								<input type="date"/>
							</div>
							<div class="input-form">
								<label>
									Date d'effet échelon
									<span class="text-danger">*</span>
								</label>
								<input type="date"/>
							</div>
							<div class="p-relative input-form">
								<label>
									Arrête
									<span class="text-danger">*</span>
								</label>
								<input type="file"/>
							</div>
							<div class="input-form">
								<label>Affectation
									<span class="text-danger">*</span>
								</label>
								<select>
									<option>
										SG
									</option>
									<option>
										Commandment
									</option>
								</select>
							</div>
							<div class="input-form">
								<label></label>
								<select>
									<option>
										Division
									</option>
									<option>
										Pachalik
									</option>
									<option>
										Cercle
									</option>
								</select>
							</div>
							<div class="input-form">
								<label></label>
								<select>
									<option>
										Service
									</option>
									<option>
										Annexe
									</option>
									<option>
										Caïdat
									</option>
								</select>
							</div>
							<div class="input-form">
								<label>Fonction
									<span class="text-danger">*</span>
								</label>
								<select>
									<option>
										Fonction ..
									</option>
								</select>
							</div>
							<div class="input-form">
								<label>Date d'affectation
									<span class="text-danger">*</span>
								</label>
								<input type="date"/>
							</div>
						</div>
						<div class="btns-group mt-5">
							<a href="javascript:void(0)" class="btn-prev btn btn-small btn-blue">Précédent</a>
							<div>
								<a href="javascript:void(0)" class="btn btn-small btn-border-blue me-3">Vider</a>
								<a href="javascript:void(0);" class="btn-next btn btn-small btn-blue">Suivant</a>
							</div>
						</div>
					</div>
					<div class="form-step">
						<div class="d-flex justify-content-between flex-wrap align-items-center mt-3">
							<strong class='mb-3'>Parcours Académique</strong>
							<div class="mb-3">
								<u>Champ obligatoire
									<span class="text-danger">*</span>
								</u>
								<u class="ms-3">Champ obligatoire si disponibles
									<span class="text-warning">*</span>
									<span class="text-danger">*</span>
								</u>
							</div>
						</div>
						<div class="mt-5 mb-5 d-grid-4">
							<div class="input-form">
								<label>Nom de diplôme
									<span class="text-danger">*</span>
								</label>
								<input type="text" autocomplete="false"/>
							</div>
							<div class="input-form">
								<label>Spécialité de diplôme
									<span class="text-danger">*</span>
								</label>
								<select>
									<option>
										Spécialité
									</option>
								</select>
							</div>
							<div class="input-form">
								<label>
									Type de diplôme
									<span class="text-danger">*</span>
								</label>
								<select>
									<option>
										Type
									</option>
								</select>
							</div>
							<div class="input-form">
								<label>Établissement
									<span class="text-danger">*</span>
								</label>
								<select>
									<option>
										Spécialité
									</option>
								</select>
							</div>
							<div class="input-form">
								<label>Date de remise du diplôme
									<span class="text-danger">*</span>
								</label>
								<input type="date"/>
							</div>
							<div class="input-form">
								<label>
									Catégorie de diplôme
									<span class="text-danger">*</span>
								</label>
								<select>
									<option>
										Catégorie
									</option>
								</select>
							</div>
							<div class="p-relative input-form">
								<label>
									Importer le diplôme
									<span class="text-danger">*</span>
								</label>
								<input type="file"/>
							</div>
						</div>
						<div class="btns-group mt-5">
							<a href="javascript:void(0)" class="btn-prev btn btn-small btn-blue">Précédent</a>
							<div>
								<a href="javascript:void(0)" class="btn btn-small btn-border-blue me-3">Vider</a>
								<a href="javascript:void(0);" class="btn-next btn btn-small btn-blue">Suivant</a>
							</div>
						</div>
					</div>
					<div class="form-step">
						<div class="d-flex justify-content-between flex-wrap align-items-center mt-3">
							<strong class="mb-3">Formation</strong>
							<div class="mb-3">
								<u>Champ obligatoire
									<span class="text-danger">*</span>
								</u>
								<u class="ms-3">Champ obligatoire si disponibles
									<span class="text-warning">*</span>
									<span class="text-danger">*</span>
								</u>
							</div>
						</div>
						<div class="mt-5 mb-5 d-grid-4">
							<div class="input-form">
								<label>Titre de formation
									<span class="text-danger">*</span>
								</label>
								<input type="text" autocomplete="false"/>
							</div>
							<div class="input-form">
								<label>Domaine de formation
									<span class="text-danger">*</span>
								</label>
								<select>
									<option>Domaine de formation …</option>
								</select>
							</div>
							<div class="input-form">
								<label>
									Date début
									<span class="text-danger">*</span>
								</label>
								<input type="date"/>
							</div>
							<div class="input-form">
								<label>
									Date fin
									<span class="text-danger">*</span>
								</label>
								<input type="date"/>
							</div>
						</div>
						<div class="btns-group mt-5">
							<a href="javascript:void(0)" class="btn-prev  btn btn-small btn-blue">Précédent</a>
							<div>
								<a href="javascript:void(0)" class="btn btn-small btn-border-blue me-3">Vider</a>
								<input type="submit" value="Submit" class="btn btn-small btn-blue"/>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
