<div class="s-navbar">
	<ul class="menu">
		<li>
			<a href="accueil.html">
				Accueil
			</a>
		</li>
		<li class="active-itm" data-display="s-acceuil">
			<a href="dashboard-drh.html">
				Tableau de bord
			</a>
		</li>
		<li>
			<a href="#" data-display="s-acceuil">
				Fonctionnaires
			</a>
		</li>
		<li>
			<a href="#" data-display="s-Services">

				Divisions & Services
			</a>
		</li>
		<li>
			<a href="#" data-display="s-annexes">
				Pachaliks & Annexes
			</a>
		</li>
		<li>
			<a href="#" data-display="s-caidats">
				Cercles & Caidats
			</a>
		</li>
		<li>
			<a href="#" data-display="s-imprimes">
				Les imprimés
			</a>
		</li>
		<li>
			<a class="deconnecter" href="javascript:void(0);">
				Se Déconnecter
			</a>
		</li>
	</ul>
	<div class="d-flx">
		<a href="javascript:void(0);" class="hamburger">
			<span class="one"></span>
			<span class="two"></span>
			<span class="tree"></span>
		</a>
	</div>
</div>
