<div class="s-navbar">
	<ul class="menu">
		<li>
			<a href="dashboard-drh.html">
				Accueil
			</a>
		</li>
		<li>
			<a href="recherche-drh.html">
				Recherche
			</a>
		</li>
		<li>
			<a href="fonctionnaire.html">
				Fonctionnaires
			</a>
		</li>
		<li>
			<a href="divisions-services.html">
				Divisions & Services
			</a>
		</li>
		<li>
			<a href="pachaliks-annexes.html">
				Pachaliks & Annexes
			</a>
		</li>
		<li>
			<a href="cercles-caidats.html">
				Cercles & Caidats
			</a>
		</li>
		<li>
			<a href="javascript:void(0);">
				Congés
			</a>
		</li>
		<li>
			<a href="imprimes.html">
				Les imprimés
			</a>
		</li>
		<li>
			<a class="deconnecter" href="javascript:void(0);">
				Se Déconnecter
			</a>
		</li>
	</ul>
	<div class="d-flx">
		<a href="javascript:void(0);" class="hamburger">
			<span class="one"></span>
			<span class="two"></span>
			<span class="tree"></span>
		</a>
	</div>
</div>
