<div class="s-navbar">
	<ul class="menu">
		<li>
			<a href="accueil.html">
				Accueil
			</a>
		</li>
		<li>
			<a href="javascript:void(0);">
				Tableau de bord
			</a>
		</li>
		<li>
			<a href="javascript:void(0);">
				Fonctionnaires
			</a>
		</li>
		<li>
			<a href="javascript:void(0);">
				Divisions & Services
			</a>
		</li>
		<li>
			<a href="javascript:void(0);">
				Pachaliks & Annexes
			</a>
		</li>
		<li>
			<a href="javascript:void(0);">
				Cercles & Caidats
			</a>
		</li>
		<li>
			<a href="javascript:void(0);">
				Les imprimés
			</a>
		</li>
		<li>
			<a class="deconnecter" href="javascript:void(0);">
				Se Déconnecter
			</a>
		</li>
	</ul>
	<div class="d-flx">
		<a href="javascript:void(0);" class="hamburger">
			<span class="one"></span>
			<span class="two"></span>
			<span class="tree"></span>
		</a>
	</div>
</div>
