<footer>
	<div class="container">
		<div class="row">
			<div class="col">
				<p>
					Royaume du Maroc - Ministère de l'Intérieur Wilaya Région GUELMIM OUED-NOUN Province D'ASSA-ZAG - 2024
				</p>
			</div>
		</div>
	</div>
</footer>
