<section class="s-login">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-6 col-xl-7 p-1">
				<div class="image-login">
					<img src="../assets/images/login.png" alt=""/>
				</div>
			</div>
			<div class="col-lg-6 col-xl-5 p-1">
				<div class="wrap-login">
					<form action="renitialiser-motpasse.html" method="get" id="form-verifier" class="form-login form-verifier">
						<div class="img-login">
							<img src="../assets/images/svg/logo-kigdom.svg" alt=""/>
						</div>
						<div class="mb-3">
							<span class="label-inpt">Entrez votre CNIE</span>
							<input type="text" placeholder="CNIE" name="cnie"/>
						</div>
						<div class="mb-3">
							<span class="label-inpt">Entrez votre Email</span>
							<input type="email" placeholder="Email" name="email"/>
						</div>
						<div class="mb-3">
							<span class="label-inpt">Entrez votre date de naissance</span>
							<input type="text" placeholder="Exemple : 01/01/1973" name="date"/>
						</div>
						<div class="btns-form">
							<button class="btn w-100 btn-big btn-blue btn-verifier">verifier le compte
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
