<div class="s-dashboard">
	<div class="grid-cols-2">
		{% include '../../components/nav-dashboard/nav-dashboard.twig' %}
		<div class="s-infos">
			<div class="items-taps item-show" data-show="s-tabbord">
				<h1 class="mb-3">TABLEAU DE BORD</h1>
				<div class="s-equip">
					<div class="slider-eq">
						<div class="item-eq">
							<div class="d-flex justify-content-between pt-3 pb-3">
								<strong class="me-3">Nombre total des fonctionnaires</strong>
								<strong>00</strong>
							</div>
						</div>
						<div class="item-eq">
							<div class="d-flex justify-content-between pt-3 pb-3">
								<strong class="me-3">Fonctionnaires Titulaire</strong>
								<strong>00</strong>
							</div>
						</div>
						<div class="item-eq">
							<div class="d-flex justify-content-between pt-3 pb-3">
								<strong class="me-3">Fonctionnaires Stagiaire</strong>
								<strong>00</strong>
							</div>
						</div>
						<div class="item-eq">
							<div class="d-flex justify-content-between pt-3 pb-3">
								<strong class="me-3">Fonctionnaires mis a la retraite</strong>
								<strong>00</strong>
							</div>
						</div>
						<div class="item-eq">
							<div class="d-flex justify-content-between pt-3 pb-3">
								<strong class="me-3">Fonctionnaires Titulaire</strong>
								<strong>00</strong>
							</div>
						</div>
						<div class="item-eq">
							<div class="d-flex justify-content-between pt-3 pb-3">
								<strong class="me-3">Fonctionnaires Stagiaire</strong>
								<strong>00</strong>
							</div>
						</div>
						<div class="item-eq">
							<div class="d-flex justify-content-between pt-3 pb-3">
								<strong class="me-3">Fonctionnaires mis a la retraite</strong>
								<strong>00</strong>
							</div>
						</div>
					</div>
				</div>
				<div class="chart-corb">
					<div class="chart mb-4">
						<p class="text-center mb-3">Nombre des fonctionnaires ayant exercer à cette province de puis sa création</p>
						<canvas id="countChart"></canvas>
					</div>
					<div class="chart mb-4">
						<p class="text-center mb-3">Statistiques des Fonctionnaires par sexe ayant exercer à cette province de puis sa création.</p>
						<canvas id="sexeChart"></canvas>
					</div>
				</div>
				<div class="chart-corb">
					<div class="chart mb-4">
						<p class="text-center mb-3">
							Nombre Fonctionnaires par Tranche d'Age
						</p>
						<canvas class="barChart" data-colors='rgb(15,45,255)' data-values='["30","43","9","30","5"]' data-labels='["18-25","25-35","35-45","45-55","55-65"]'></canvas>
					</div>
					<div class="chart mb-4 d-flex justify-content-between bg-transparent  p-0">
						<div class="w-49 bg-white p-3">
							<p class="text-center mb-3">
								Nombre Fonctionnaires par Sexe
							</p>
							<canvas class="barChart" data-colors='["rgb(15, 45, 255)","rgb(168, 37, 255)"]' data-values='["56","48"]' data-labels='["Homme","Femme"]'></canvas>
						</div>
						<div class="w-49 bg-white p-3">
							<p class="text-center mb-3">
								Nombre Fonctionnaires par Division
							</p>
							<div class="chart-doughnut">
								<div class="slider-chart2">
									<div class="chart-pachalik">
										<p class="text-center mb-4">Division name</p>
										<canvas class="Chart-doughnut" data-label="Division" data-colors='["rgb(15, 45, 255)","rgb(52, 51, 153)","rgb(118, 34, 171)","rgb(22, 112, 179)"]' data-values='["30","30","50","80"]' data-labels='["Division","Division","Division"]'></canvas>
									</div>
									<div class="chart-pachalik">
										<p class="text-center mb-4">Division name</p>
										<canvas class="Chart-doughnut" data-label="Division" data-colors='["rgb(15, 45, 255)","rgb(52, 51, 153)","rgb(118, 34, 171)","rgb(22, 112, 179)"]' data-values='["30","30","50","80"]' data-labels='["Division","Division","Division"]'></canvas>
									</div>
									<div class="chart-pachalik">
										<p class="text-center mb-4">Division name</p>
										<canvas class="Chart-doughnut" data-label="Division" data-colors='["rgb(15, 45, 255)","rgb(52, 51, 153)","rgb(118, 34, 171)","rgb(22, 112, 179)"]' data-values='["30","30","50","80"]' data-labels='["Division","Division","Division"]'></canvas>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="items-taps" data-show="s-fonctionnaire">
				<div class="warp-fonc">
					<div class="d-flex justify-content-between flex-wrap mb-3">
						<h1 class="mb-0">FONCTIONNAIRES</h1>
						<div class='btns-links'>
							<a href="#" id="show-ajouterfonc" class="btn btn-small btn-blue">Ajouter un Fonctionnaire</a>
						</div>
					</div>
					<div class="chart-corb">
						<div class="chart">
							<p class="text-center mb-3">Nombre des fonctionnaires ayant exercer à cette province de puis sa création</p>
							<canvas id="countChart2"></canvas>
						</div>
						<div class="chart">
							<p class="text-center mb-3">Statistiques des Fonctionnaires par sexe ayant exercer à cette province de puis sa création.</p>
							<canvas id="sexeChart2"></canvas>
						</div>
					</div>
					<div class="chart-doughnut p-4">
						<p class="text-center mb-4">Nombre de fonctionnaires par tranche d'âge et par sexe dans chaque division.</p>
						<div class="slider-chart" data-show="3">
							<div class="chart-division">
								<p class="text-center mb-4">Division</p>
								<div class="chartow">
									<canvas class="Chart-doughnut" data-label="Age" data-colors='["rgb(0, 166, 118)", "rgb(68, 197, 201)","rgb(88, 117, 190)","rgb(255, 178, 56)","rgb(214, 29, 29)"]' data-values='["300","50","100","50","100"]' data-labels='["18-25","25-35","35-45","45-55","55-65"]'></canvas>
									<canvas class="Chart-doughnut" data-label="Sexe" data-colors='["rgb(118, 34, 171)","rgb(15, 45, 255)"]' data-values='["300","50"]' data-labels='["Femme","Homme"]'></canvas>
								</div>
							</div>
							<div class="chart-division">
								<p class="text-center mb-4">Division</p>
								<div class="chartow">
									<canvas class="Chart-doughnut" data-label="Age" data-colors='["rgb(0, 166, 118)", "rgb(68, 197, 201)","rgb(88, 117, 190)","rgb(255, 178, 56)","rgb(214, 29, 29)"]' data-values='["300","50","100","50","100"]' data-labels='["18-25","25-35","35-45","45-55","55-65"]'></canvas>
									<canvas class="Chart-doughnut" data-label="Sexe" data-colors='["rgb(118, 34, 171)","rgb(15, 45, 255)"]' data-values='["300","50"]' data-labels='["Femme","Homme"]'></canvas>
								</div>
							</div>
							<div class="chart-division">
								<p class="text-center mb-4">Division</p>
								<div class="chartow">
									<canvas class="Chart-doughnut" data-label="Age" data-colors='["rgb(0, 166, 118)", "rgb(68, 197, 201)","rgb(88, 117, 190)","rgb(255, 178, 56)","rgb(214, 29, 29)"]' data-values='["300","50","100","50","100"]' data-labels='["18-25","25-35","35-45","45-55","55-65"]'></canvas>
									<canvas class="Chart-doughnut" data-label="Sexe" data-colors='["rgb(118, 34, 171)","rgb(15, 45, 255)"]' data-values='["300","50"]' data-labels='["Femme","Homme"]'></canvas>
								</div>
							</div>
							<div class="chart-division">
								<p class="text-center mb-4">Division</p>
								<div class="chartow">
									<canvas class="Chart-doughnut" data-label="Age" data-colors='["rgb(0, 166, 118)", "rgb(68, 197, 201)","rgb(88, 117, 190)","rgb(255, 178, 56)","rgb(214, 29, 29)"]' data-values='["300","50","100","50","100"]' data-labels='["18-25","25-35","35-45","45-55","55-65"]'></canvas>
									<canvas class="Chart-doughnut" data-label="Sexe" data-colors='["rgb(118, 34, 171)","rgb(15, 45, 255)"]' data-values='["300","50"]' data-labels='["Femme","Homme"]'></canvas>
								</div>
							</div>
							<div class="chart-division">
								<p class="text-center mb-4">Division</p>
								<div class="chartow">
									<canvas class="Chart-doughnut" data-label="Age" data-colors='["rgb(0, 166, 118)", "rgb(68, 197, 201)","rgb(88, 117, 190)","rgb(255, 178, 56)","rgb(214, 29, 29)"]' data-values='["300","50","500","50","100"]' data-labels='["18-25","25-35","35-45","45-55","55-65"]'></canvas>
									<canvas class="Chart-doughnut" data-label="Sexe" data-colors='["rgb(118, 34, 171)","rgb(15, 45, 255)"]' data-values='["30","50"]' data-labels='["Femme","Homme"]'></canvas>
								</div>
							</div>
						</div>
					</div>
					<div class="wrap-infos border-0 mt-4">
						<div class="box-info">
							<a href="#" download>Liste des fonctionnaires titulaire.</a>
							<a href="#" download>Liste des fonctionnaires stagiaire.</a>
							<a href="#" download>Liste des fonctionnaires retraités.</a>
						</div>
						<div class="box-info">
							<a href="#" download>Liste des fonctionnaires mis a la retraite.</a>
							<a href="#" download>Liste des Fonctionnaires mis a disposition.</a>
							<a href="#" download>Liste des candidats à passer l'examen d'aptitude professionnelle pour cette année</a>
						</div>
						<div class="box-info">
							<a href="#" download>Liste des avancements aux grades des fonctionnaires pour cette année</a>
							<a href="#" download>Liste des avancements aux échelles des fonctionnaires pour cette année</a>
							<a href="#" download>Liste des avancements aux échelons des fonctionnaires pour cette année</a>
						</div>
					</div>
				</div>
				<div class="s-ajout">
					<div class="d-flex justify-content-between flex-wrap align-items-center mb-5">
						<h1 class="mb-0">AJOUTER</h1>
						<div>
							<a href="#" id="show-wrpfonc">Revenir au tableau de bord</a>
						</div>
					</div>
					<form
						action="/" id="form1" method="post" class="form-ajoute">
						<!-- Progress bar -->
						<div class="progressbar">
							<div class="progress-step progress-step-active">Informations Personnelle</div>
							<div class="progress-step">Informations Familiale</div>
							<div class="progress-step">Informations  d'hébergement</div>
							<div class="progress-step">Parcours Professionnel</div>
							<div class="progress-step">Parcours Académique</div>
							<div class="progress-step">Formations</div>
						</div>
						<!-- Steps -->
						<div class="form-step form-step-active">
							<div class="d-flex justify-content-between flex-wrap align-items-center mt-3">
								<strong class="mb-3">Informations Personnelle</strong>
								<div class="mb-3">
									<u>Champ obligatoire
										<span class="text-danger">*</span>
									</u>
									<u class="ms-3">Champ obligatoire si disponibles
										<span class="text-warning">*</span>
										<span class="text-danger">*</span>
									</u>
								</div>
							</div>
							<div class="mt-5 d-grid-4">
								<div class="input-form">
									<label>Nom
										<span class="text-danger">*</span>
									</label>
									<input type="text" class="form-control" required name="name" autocomplete="false"/>
								</div>
								<div class="input-form">
									<label dir="rtl">الاسم الشخصي
										<span class="text-danger">*</span>
									</label>
									<input type="text" class="form-control" required name="nom_arb" autocomplete="false" dir="rtl"/>
								</div>
								<div class="input-form">
									<label>Prénom
										<span class="text-danger">*</span>
									</label>
									<input type="text" class="form-control" required name="prenom" autocomplete="false"/>
								</div>
								<div class="input-form">
									<label dir="rtl">الاسم العائلي
										<span class="text-danger">*</span>
									</label>
									<input type="text" class="form-control" required name="prenom_arb" autocomplete="false" dir="rtl"/>
								</div>
								<div class="input-form">
									<label>Sexe
										<span class="text-danger">*</span>
									</label>
									<select class="form-control" required name="sexe">
										<option>Homme</option>
										<option>Femme</option>
									</select>
								</div>
								<div class="input-form">
									<label>CNIE
										<span class="text-danger">*</span>
									</label>
									<input type="text" class="form-control" required name="cnie" autocomplete="false"/>
								</div>
								<div class="input-form p-relative">
									<label>Importer la CNIE
										<span class="text-danger">*</span>
									</label>
									<input type="file" class="form-control" required name="file_cnie"/>
								</div>
								<div class="input-form">
									<label>Valable jusqu'au
										<span class="text-danger">*</span>
									</label>
									<input type="date" class="form-control" required name="date_cnie"/>
								</div>
								<div class="input-form">
									<label>Prénom du père
										<span class="text-danger">*</span>
									</label>
									<input type="text" class="form-control" required name="prenom_pere" autocomplete="false"/>
								</div>
								<div class="input-form">
									<label dir="rtl">الاسم الشخصي للأب
										<span class="text-danger">*</span>
									</label>
									<input type="text" autocomplete="false" class="form-control" required name="prenom_pere_arb" dir="rtl"/>
								</div>
								<div class="input-form">
									<label>Prénom du grand père paternel
										<span class="text-danger">*</span>
									</label>
									<input type="text" class="form-control" required name="prenom_pere_p" autocomplete="false"/>
								</div>
								<div class="input-form">
									<label dir="rtl">الاسم الشخصي للجد من الأب
										<span class="text-danger">*</span>
									</label>
									<input type="text" autocomplete="false" class="form-control" required name="prenom_pere_p_arb" dir="rtl"/>
								</div>
								<div class="input-form">
									<label>Prénom de la mère
										<span class="text-danger">*</span>
									</label>
									<input type="text" class="form-control" required name="prenom_mere" autocomplete="false"/>
								</div>
								<div class="input-form">
									<label dir="rtl">الاسم الشخصي للام
										<span class="text-danger">*</span>
									</label>
									<input type="text" autocomplete="false" class="form-control" required name="prenom_mere_arb" dir="rtl"/>
								</div>
								<div class="input-form">
									<label>Prénom du grand père maternel
										<span class="text-danger">*</span>
									</label>
									<input type="text" class="form-control" required name="prenom_grand_pm" autocomplete="false"/>
								</div>
								<div class="input-form">
									<label dir="rtl">الاسم الشخصي للجد من الأب
										<span class="text-danger">*</span>
									</label>
									<input type="text" autocomplete="false" class="form-control" required name="prenom_grand_arb" dir="rtl"/>
								</div>
								<div class="input-form">
									<label>Date de naissance
										<span class="text-danger">*</span>
									</label>
									<input type="date" class="form-control" required name="date_naissance"/>
								</div>
								<div class="input-form">
									<label>Lieu de naissance
										<span class="text-danger">*</span>
									</label>
									<input type="text" class="form-control" required name="lieu_naissance" autocomplete="false"/>
								</div>
								<div class="input-form">
									<label dir="rtl">مكان  الازدياد
										<span class="text-danger">*</span>
									</label>
									<input type="text" class="form-control" required name="lieu_naissance_arb" autocomplete="false" dir="rtl"/>
								</div>
								<div class="input-form">
									<label>Province ou ville de naissance
										<span class="text-danger">*</span>
									</label>
									<input type="text" class="form-control" required name="province_naissance" autocomplete="false"/>
								</div>
								<div class="input-form">
									<label dir="rtl">عمالة أو مدينة الإزدياد
										<span class="text-danger">*</span>
									</label>
									<input type="text" class="form-control" required name="province_naissance_arb" autocomplete="false" dir="rtl"/>
								</div>
								<div class="input-form">
									<label>Commune de naissance
										<span class="text-danger">*</span>
									</label>
									<input type="text" class="form-control" required name="commune_naissance" autocomplete="false"/>
								</div>
								<div class="input-form">
									<label dir="rtl">جماعة الإزدياد
										<span class="text-danger">*</span>
									</label>
									<input type="text" class="form-control" required name="commune_naissance_arb" autocomplete="false" dir="rtl"/>
								</div>
								<div class="input-form p-relative">
									<label>Importer l'attestation du RIB
										<span class="text-danger">*</span>
									</label>
									<input type="file" class="form-control" required name="attetaion_rib"/>
								</div>
								<div class="input-form p-relative">
									<label>Importer la photo du fonctionnaire
										<span class="text-danger">*</span>
									</label>
									<input type="file" class="form-control" required name="photo"/>
								</div>
							</div>
						</div>
						<div class="form-step">
							<div class="d-flex justify-content-between flex-wrap align-items-center mt-3">
								<strong class="mb-3">Informations Familiale</strong>
								<div class="mb-3">
									<u>Champ obligatoire
										<span class="text-danger">*</span>
									</u>
									<u class="ms-3">Champ obligatoire si disponibles
										<span class="text-warning">*</span>
										<span class="text-danger">*</span>
									</u>
								</div>
							</div>
							<div class="d-grid-4 mt-4 mb-4">
								<div class="input-form">
									<label>Année État Civil
										<span class="text-danger">*</span>
									</label>
									<input type="date" class="form-control" required name="date_etat"/>
								</div>
								<div class="input-form">
									<label>Etat civil N°
										<span class="text-danger">*</span>
									</label>
									<input type="number" min="0" class="form-control" required name="num_etat" autocomplete="false"/>
								</div>
								<div class="input-form">
									<label>IDCS
										<span class="text-warning">*</span>
										<span class="text-danger">*</span>
									</label>
									<input type="text" class="form-control" required name="idcs" autocomplete="false"/>
								</div>
								<div class="p-relative input-form">
									<label>Importer l'extrait de naissance
										<span class="text-danger">*</span>
									</label>
									<input type="file" class="form-control" required name="file_idcs"/>
								</div>
								<div class="input-form">
									<label>Situation de famille
										<span class="text-danger">*</span>
									</label>
									<select class="form-control" required name="situation">
										<option>Marie</option>
										<option>cele</option>
										<option>veuf/veuve</option>
									</select>
								</div>
							</div>
							<div class="w-100  wrap-famille mb-5">
								<div class="form-partner">
									<div>
										<strong>l'époux(se)</strong>
										<div class='d-grid-4 mt-5  mb-5'>
											<div class='input-form'>
												<label>Nom de l'époux (se)<span class='text-danger'>*</span>
												</label><input type='text' class='form-control' required name='nom_epoux' autocomplete='false'/></div>
											<div class='input-form'>
												<label>Prénom de l'époux (se)<span class='text-danger'>*</span>
												</label><input type='text' class='form-control' required name='prenom_epoux' autocomplete='false'/></div>
											<div class='input-form'>
												<label dir='rtl'>الاسم العائلي لزوج(ة)<span class='text-danger'>*</span>
												</label><input type='text' class='form-control' required name='nom_epoux_arb' autocomplete='false' dir='rtl'/></div>
											<div class='input-form'>
												<label dir='rtl'>الاسم الشخصي لزوج<span class='text-danger'>*</span>
												</label>
												<input type='text' class='form-control' required name='prenom_epoux_arb' autocomplete='false'/>
											</div>
											<div class='input-form'>
												<label>N° CNIE de l'époux (se)<span class='text-danger'>*</span>
												</label><input type='text' class='form-control' required name='cnie_epoux'/></div>
											<div class='input-form'>
												<label>Importer la CNIE de l'époux (se)<span class='text-danger'>*</span>
												</label><input type='file' class='form-control' required name='file_cin_epoux'/></div>
											<div class='input-form'>
												<label>Valable jusqu'au<span class='text-danger'>*</span>
												</label><input type='date' class='form-control' required name='date_cin_epoux'/></div>
											<div class='input-form'>
												<label>Date de naissance de l'époux (se)<span class='text-danger'>*</span>
												</label><input type='date' class='form-control' required name='date_naissance_epoux'/></div>
											<div class='input-form'>
												<label>Lieu de naissance de l'époux (se)<span class='text-danger'>*</span>
												</label><input type='text' class='form-control' required name='lieu_naissance_epoux' autocomplete='false'/></div>
											<div class='input-form'>
												<label dir='rtl'>مكان ازدياد الزوج(ة)<span class='text-danger'>*</span>
												</label><input type='text' class='form-control' required name='lieu_naissance_epoux_arb' autocomplete='false' dir='rtl'/></div>
											<div class='input-form'>
												<label>IDSC de l'époux (se)<span class='text-danger'>*</span>
												</label><input type='text' class='form-control' required name='idcs_epoux'/></div>
											<div class='input-form'>
												<label>Importer Acte de mariage<span class='text-danger'>*</span>
												</label><input type='file' class='form-control' required name='file_act_epoux'/></div>
											<div class='input-form'>
												<label>Nombre d'enfants<span class='text-danger'>*</span>
												</label>
												<input type='number' min='0' class='form-control' required name='nbrenfant_epoux' autocomplete='false'/>
											</div>
										</div>
										<div class='form-child'>
											<div class='d-grid-4  mt-5'>
												<div class='input-form'>
													<label>Nom de l'enfant<span class='text-danger'>*</span>
													</label>
													<input type='text' class='form-control' required name='nom_enfant' autocomplete='false'/>
												</div>
												<div class='input-form'>
													<label dir='rtl'>الاسم العائلي للطفل<span class='text-danger'>*</span>
													</label>
													<input type='text' class='form-control' required name='nom_enfant_arb' autocomplete='false' dir='rtl'/>
												</div>
												<div class='input-form'>
													<label>Prénom de l'enfant<span class='text-danger'>*</span>
													</label>
													<input type='text' class='form-control' required name='prenom_enfant' autocomplete='false'/>
												</div>
												<div class='input-form'>
													<label dir='rtl'>الاسم الشخصي للطفل<span class='text-danger'>*</span>
													</label>
													<input type='text' class='form-control' required name='prenom_enfant_arb' autocomplete='false'/>
												</div>
												<div class='input-form'>
													<label>Sexe<span class='text-danger'>*</span>
													</label>
													<select class='form-control' required name='sexe_enfant'>
														<option>Fille</option>
														<option>Garçon</option>
													</select>
												</div>
												<div class='input-form'>
													<label>Date de naissance de l'enfant<span class='text-danger'>*</span>
													</label>
													<input type='date' class='form-control' required name='date_naissance_enfant'/>
												</div>
												<div class='input-form'>
													<label>Année État Civil<span class='text-danger'>*</span>
													</label>
													<input type='number' max="4" min="1900" class='form-control' required name='anneetat_enfant'/>
												</div>
												<div class='file input-form'>
													<label>Importer l'extrait de naissance<span class='text-danger'>*</span>
													</label>
													<input type='file' class='form-control' required name='file_extrait_enfant'/>
												</div>
												<div class='input-form'>
													<label>Lieu de naissance de l'enfant<span class='text-danger'>*</span>
													</label>
													<input type='text' class='form-control' required name='lieu_naissance_enfant' autocomplete='false'/>
												</div>
												<div class='input-form'>
													<label dir='rtl'>مكان ازديادالطفل<span class='text-danger'>*</span>
													</label>
													<input type='text' class='form-control' required name='lieu_naissance_enfant_arb' autocomplete='false' dir='rtl'/>
												</div>
												<div class='input-form'>
													<label>Etat civil N°<span class='text-danger'>*</span>
													</label>
													<input type='number' class='form-control' required name='nbretat_enfant' min='0'/>
												</div>
												<div class='input-form'>
													<label>IDSC de l'enfant<span class='text-warning'>*</span>
														<span class='text-danger'>*</span>
													</label>
													<input type='number' min='0' class='form-control' required name='idcs_enfant' autocomplete='false'/>
												</div>
											</div>
										</div>
										<div class='d-flex align-items-center justify-content-end mt-5 mb-5'>
											<a href='javascript:void(0);' class='btn btn-small btn-blue ms-3 add-enfant'>Ajouter enfants</a>
										</div>
										<div class='d-flex justify-content-end mt-4 mb-4'>
											<a href='javascript:void(0);' class='btn btn-small btn-red remove-partner'>supprimer famille</a>
										</div>
									</div>
								</div>
								<div class="d-flex align-items-center justify-content-end mb-3">
									<a href="javascript:void(0);" class="btn btn-small btn-blue add-partner">Ajouter famille</a>
								</div>
							</div>
						</div>
						<div class="form-step">
							<div class="d-flex justify-content-between flex-wrap align-items-center mt-3">
								<strong class="mb-3">Cordonnées et détails d'hébergement</strong>
								<div class="mb-3">
									<u>Champ obligatoire
										<span class="text-danger">*</span>
									</u>
									<u class="ms-3">Champ obligatoire si disponibles
										<span class="text-warning">*</span>
										<span class="text-danger">*</span>
									</u>
								</div>
							</div>
							<div class="d-grid-4 mt-5">
								<div class="input-form">
									<label>Commune de résidence
										<span class="text-danger">*</span>
									</label>
									<input type="text" class="form-control" required name="commune_residence" autocomplete="false"/>
								</div>
								<div class="input-form">
									<label dir="rtl">جماعة الإقامة
										<span class="text-danger">*</span>
									</label>
									<input type="text" autocomplete="false" class="form-control" required name="commune_residence_arb" dir="rtl"/>
								</div>
								<div class="input-form">
									<label>Province ou ville de résidence
										<span class="text-danger">*</span>
									</label>
									<input type="text" class="form-control" required name="province_residence"/>
								</div>
								<div class="input-form">
									<label dir="rtl">عمالة أو مدينة الإقامة
										<span class="text-danger">*</span>
									</label>
									<input type="text" autocomplete="false" class="form-control" required name="province_residence_arb" dir="rtl"/>
								</div>
								<div class="input-form">
									<label>
										Adresse e-mail
										<span class="text-danger">*</span>
									</label>
									<input type="email" class="form-control" required name="email"/>
								</div>
								<div class="input-form">
									<label>Numéro de téléphone
										<span class="text-danger">*</span>
									</label>
									<input type="tel" class="form-control" required name="telephone"/>
								</div>
								<div class="input-form">
									<label>Adresse
										<span class="text-danger">*</span>
									</label>
									<textarea autocomplete="false" class="form-control" required name="adresse"></textarea>
								</div>
								<div class="input-form">
									<label dir="rtl">العنوان
										<span class="text-danger">*</span>
									</label>
									<textarea autocomplete="false" class="form-control" required name="adresse_arb" dir="rtl"></textarea>
								</div>
							</div>
						</div>
						<div class="form-step">
							<div class="d-flex  justify-content-between flex-wrap align-items-center mt-3">
								<strong class="mb-3">Parcours Professionnel</strong>
								<div class="mb-3">
									<u>Champ obligatoire
										<span class="text-danger">*</span>
									</u>
									<u class="ms-3">Champ obligatoire si disponibles
										<span class="text-warning">*</span>
										<span class="text-danger">*</span>
									</u>
								</div>
							</div>
							<div class="mt-5 mb-5 d-grid-4">
								<div class="input-form">
									<label>Mode
										<span class="text-danger">*</span>
									</label>
									<select class="form-control" required name="mode">
										<option>
											Mutation / Recrutement
										</option>
									</select>
								</div>
								<div class="input-form">
									<label>Situation Statutaire
										<span class="text-danger">*</span>
									</label>
									<select class="form-control" required name="situation_statu">
										<option>
											Situation Statutaire
										</option>
									</select>
								</div>
								<div class="input-form">
									<label>Date de recrutement
										<span class="text-danger">*</span>
									</label>
									<input type="date" class="form-control" required name="date_recrut"/>
								</div>
								<div class="input-form">
									<label>PPR
										<span class="text-warning">*</span>
										<span class="text-danger">*</span>
									</label>
									<input type="number" min="0" class="form-control" required name="ppr" autocomplete="false"/>
								</div>
								<div class="p-relative input-form">
									<label>
										Arrête de titularisation
										<span class="text-warning">*</span>
										<span class="text-danger">*</span>
									</label>
									<input type="file" class="form-control" required name="file_arret_titule"/>
								</div>
								<div class="input-form">
									<label>Catégorie
										<span class="text-danger">*</span>
									</label>
									<select class="form-control" required name="category">
										<option>
											Catégorie
										</option>
									</select>
								</div>
								<div class="input-form">
									<label>Grade
										<span class="text-danger">*</span>
									</label>
									<select class="form-control" required name="grade">
										<option>
											Grade
										</option>
									</select>
								</div>
								<div class="input-form">
									<label>Echelle
										<span class="text-danger">*</span>
									</label>
									<input type="number" min="0" class="form-control" required name="echelle" autocomplete="false">
								</div>
								<div class="input-form">
									<label>Echelon
										<span class="text-danger">*</span>
									</label>
									<input type="number" min="0" class="form-control" required name="echelon" autocomplete="false">
								</div>
								<div class="input-form">
									<label>
										Date d'effet du grade
										<span class="text-danger">*</span>
									</label>
									<input type="date" class="form-control" required name="date_grade"/>
								</div>
								<div class="input-form">
									<label>
										Date d'effet échelon
										<span class="text-danger">*</span>
									</label>
									<input type="date" class="form-control" required name="date_echelon"/>
								</div>
								<div class="p-relative input-form">
									<label>
										Arrête
										<span class="text-danger">*</span>
									</label>
									<input type="file" cclass="form-control" required name="file_arret_titule"/>
								</div>
								<div class="input-form">
									<label>Affectation
										<span class="text-danger">*</span>
									</label>
									<select class="form-control" required name="affectation">
										<option>
											SG
										</option>
										<option>
											Commandment
										</option>
									</select>
								</div>
								<div class="input-form">
									<label></label>
									<select class="form-control" required name="division">
										<option>
											Division
										</option>
										<option>
											Pachalik
										</option>
										<option>
											Cercle
										</option>
									</select>
								</div>
								<div class="input-form">
									<label></label>
									<select class="form-control" required name="service">
										<option>
											Service
										</option>
										<option>
											Annexe
										</option>
										<option>
											Caïdat
										</option>
									</select>
								</div>
								<div class="input-form">
									<label>Fonction
										<span class="text-danger">*</span>
									</label>
									<select class="form-control" required name="fonction">
										<option>
											Fonction ..
										</option>
									</select>
								</div>
								<div class="input-form">
									<label>Date d'affectation
										<span class="text-danger">*</span>
									</label>
									<input type="date" class="form-control" required name="date_affect_fonc"/>
								</div>
							</div>
						</div>
						<div class="form-step">
							<div class="d-flex justify-content-between flex-wrap align-items-center mt-3">
								<strong class='mb-3'>Parcours Académique</strong>
								<div class="mb-3">
									<u>Champ obligatoire
										<span class="text-danger">*</span>
									</u>
									<u class="ms-3">Champ obligatoire si disponibles
										<span class="text-warning">*</span>
										<span class="text-danger">*</span>
									</u>
								</div>
							</div>
							<div class="mt-5 mb-5 d-grid-4">
								<div class="input-form">
									<label>Nom de diplôme
										<span class="text-danger">*</span>
									</label>
									<input type="text" class="form-control" required name="nom_diplome" autocomplete="false"/>
								</div>
								<div class="input-form">
									<label>Spécialité de diplôme
										<span class="text-danger">*</span>
									</label>
									<select class="form-control" required name="spacialite_diplome">
										<option>
											Spécialité
										</option>
									</select>
								</div>
								<div class="input-form">
									<label>
										Type de diplôme
										<span class="text-danger">*</span>
									</label>
									<select class="form-control" required name="type_diplome">
										<option>
											Type
										</option>
									</select>
								</div>
								<div class="input-form">
									<label>Établissement
										<span class="text-danger">*</span>
									</label>
									<input type="text" class="form-control" required name="etablissement" autocomplete="false"/>
								</div>
								<div class="input-form">
									<label>Date de remise du diplôme
										<span class="text-danger">*</span>
									</label>
									<input type="date" class="form-control" required name="date_diplome"/>
								</div>
								<div class="input-form">
									<label>
										Catégorie de diplôme
										<span class="text-danger">*</span>
									</label>
									<select class="form-control" required name="category_diplome">
										<option>
											Catégorie
										</option>
									</select>
								</div>
								<div class="p-relative input-form">
									<label>
										Importer le diplôme
										<span class="text-danger">*</span>
									</label>
									<input type="file" class="form-control" required name="file_diplome"/>
								</div>
							</div>
						</div>
						<div class="form-step">
							<div class="d-flex justify-content-between flex-wrap align-items-center mt-3">
								<strong class="mb-3">Formation</strong>
								<div class="mb-3">
									<u>Champ obligatoire
										<span class="text-danger">*</span>
									</u>
									<u class="ms-3">Champ obligatoire si disponibles
										<span class="text-warning">*</span>
										<span class="text-danger">*</span>
									</u>
								</div>
							</div>
							<div class="mt-5 mb-5 d-grid-4">
								<div class="input-form">
									<label>Titre de formation
										<span class="text-danger">*</span>
									</label>
									<input type="text" class="form-control" required name="titre_formation" autocomplete="false"/>
								</div>
								<div class="input-form">
									<label>Domaine de formation
										<span class="text-danger">*</span>
									</label>
									<select class="form-control" required name="domain_f">
										<option>Domaine de formation …</option>
									</select>
								</div>
								<div class="input-form">
									<label>
										Date début
										<span class="text-danger">*</span>
									</label>
									<input type="date" class="form-control" required name="date_debutf"/>
								</div>
								<div class="input-form">
									<label>
										Date fin
										<span class="text-danger">*</span>
									</label>
									<input type="date" class="form-control" required name="date_finf"/>
								</div>
							</div>
						</div>
						<div class="btns-group mt-5">
							<input type="button" id="btnPrevious" value="Précédent" class="btn-prev btn btn-small btn-blue" onclick="ButtonClick(-1)" name="Previous"/>
							<div>
								<input type="button" id="btnNext" value="Suivant" class="btn-next btn btn-small btn-blue" onclick="ButtonClick(1)" name="Next"/>
								<input type="submit" id="btnAjoter" value="Ajouter" class="btn-next btn btn-small btn-blue"/>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="items-taps" data-show="s-Services">
				<h1>DIVISIONS & SERVICES</h1>
				<div class="d-md-flex">
					<div class="chart-doughnut w-md-75 p-3 mb-3 mt-0">
						<div class="slider-chart" data-show="4">
							<div class="chart-pachalik">
								<p class="text-center mb-4">Division</p>
								<canvas class="Chart-doughnut" data-label="Service" data-colors='["rgb(15, 45, 255)","rgb(52, 51, 153)","rgb(168, 37, 255)"]' data-values='["30","30","50"]' data-labels='["Service","Service","Service"]'></canvas>
							</div>
							<div class="chart-pachalik">
								<p class="text-center mb-4">Division</p>
								<canvas class="Chart-doughnut" data-label="Service" data-colors='["rgb(15, 45, 255)","rgb(52, 51, 153)","rgb(168, 37, 255)"]' data-values='["30","30","50"]' data-labels='["Service","Service","Service"]'></canvas>
							</div>
							<div class="chart-pachalik">
								<p class="text-center mb-4">Division</p>
								<canvas class="Chart-doughnut" data-label="Service" data-colors='["rgb(15, 45, 255)","rgb(52, 51, 153)","rgb(168, 37, 255)"]' data-values='["30","30","50"]' data-labels='["Service","Service","Service"]'></canvas>
							</div>
							<div class="chart-pachalik">
								<p class="text-center mb-4">Division</p>
								<canvas class="Chart-doughnut" data-label="Service" data-colors='["rgb(15, 45, 255)","rgb(52, 51, 153)","rgb(168, 37, 255)"]' data-values='["30","30","50"]' data-labels='["Service","Service","Service"]'></canvas>
							</div>
							<div class="chart-pachalik">
								<p class="text-center mb-4">Division</p>
								<canvas class="Chart-doughnut" data-label="Service" data-colors='["rgb(15, 45, 255)","rgb(52, 51, 153)","rgb(168, 37, 255)"]' data-values='["30","30","50"]' data-labels='["Service","Service","Service"]'></canvas>
							</div>
						</div>
					</div>
					<form action="/" method="post" class="p-4 ms-md-3 mb-3 bg-white">
						<div class="mb-3">
							<label>Nom</label>
							<input type="text" class="form-control" required name="nom_division" autocomplete="false"/>
						</div>
						<div class="mb-3">
							<label>Abréviation</label>
							<input type="text" class="form-control" required name="abreviation_division" autocomplete="false"/>
						</div>
						<div class="mb-3">
							<label>Catégories</label>
							<select class="form-control" required name="category_division">
								<option>Service</option>
							</select>
						</div>
						<div class="mb-3">
							<label>Liste des divisions</label>
							<select class="form-control" required name="division">
								<option>Division</option>
							</select>
						</div>
						<div>
							<button class="btn btn-small btn-blue">Ajouter</button>
						</div>
					</form>
				</div>
				<div class="s-situation-f">
					<div class="s-table">
						<table class="table text-center">
							<thead>
								<tr>
									<th scope="col">
										Nom de division
									</th>
									<th scope="col">
										Abréviation
									</th>
									<th scope="col">
										Actions
									</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Nom de division</td>
									<td>Abr</td>
									<td class="action-download">
										<a href="#">Modifier</a>
										<a href="#">Supprimer</a>
										<a href="#" class="droplink">Liste des services</a>
									</td>
								</tr>
								<tr>
									<td colspan="3">
										<table class="table text-center">
											<thead>
												<tr>
													<th scope="col">
														Nom de Service
													</th>
													<th scope="col">
														Abréviation
													</th>
													<th scope="col">
														Actions
													</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>Nom de Service</td>
													<td>Abr</td>
													<td class="action-download">
														<a href="#">Modifier</a>
														<a href="#">Supprimer</a>
														<a href="#">Se retirer de la division</a>
													</td>
												</tr>
												<tr>
													<td>Nom de Service</td>
													<td>Abr</td>
													<td class="action-download">
														<a href="#">Modifier</a>
														<a href="#">Supprimer</a>
														<a href="#">Se retirer de la division</a>
													</td>
												</tr>
												<tr>
													<td>Nom de Service</td>
													<td>Abr</td>
													<td class="action-download">
														<a href="#">Modifier</a>
														<a href="#">Supprimer</a>
														<a href="#">Se retirer de la division</a>
													</td>
												</tr>
												<tr>
													<td>Nom de Service</td>
													<td>Abr</td>
													<td class="action-download">
														<a href="#">Modifier</a>
														<a href="#">Supprimer</a>
														<a href="#">Se retirer de la division</a>
													</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
								<tr>
									<td>Nom de division</td>
									<td>Abr</td>
									<td class="action-download">
										<a href="#">Modifier</a>
										<a href="#">Supprimer</a>
										<a href="#" class="droplink">Liste des services</a>
									</td>
								</tr>
								<tr>
									<td>Nom de division</td>
									<td>Abr</td>
									<td class="action-download">
										<a href="#">Modifier</a>
										<a href="#">Supprimer</a>
										<a href="#" class="droplink">Liste des services</a>
									</td>
								</tr>
								<tr>
									<td>Nom de division</td>
									<td>Abr</td>
									<td class="action-download">
										<a href="#">Modifier</a>
										<a href="#">Supprimer</a>
										<a href="#" class="droplink">Liste des services</a>
									</td>
								</tr>
								<tr>
									<td>Nom de division</td>
									<td>Abr</td>
									<td class="action-download">
										<a href="#">Modifier</a>
										<a href="#">Supprimer</a>
										<a href="#" class="droplink">Liste des services</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="items-taps" data-show="s-annexes">
				<h1>PACHALIKS & ANNEXES</h1>
				<div class="d-md-flex">
					<div class="chart-doughnut w-md-75 p-3 mb-3 mt-0">
						<div class="slider-chart" data-show="4">
							<div class="chart-pachalik">
								<p class="text-center mb-4">Pachaliks</p>
								<canvas class="Chart-doughnut" data-label="Annexe" data-colors='["rgb(15, 45, 255)","rgb(52, 51, 153)","rgb(168, 37, 255)"]' data-values='["30","30","50"]' data-labels='["Annexe","Annexe","Annexe"]'></canvas>
							</div>
							<div class="chart-pachalik">
								<p class="text-center mb-4">Pachaliks</p>
								<canvas class="Chart-doughnut" data-label="Annexe" data-colors='["rgb(15, 45, 255)","rgb(52, 51, 153)","rgb(168, 37, 255)"]' data-values='["30","30","50"]' data-labels='["Annexe","Annexe","Annexe"]'></canvas>
							</div>
							<div class="chart-pachalik">
								<p class="text-center mb-4">Pachaliks</p>
								<canvas class="Chart-doughnut" data-label="Annexe" data-colors='["rgb(15, 45, 255)","rgb(52, 51, 153)","rgb(168, 37, 255)"]' data-values='["30","30","50"]' data-labels='["Annexe","Annexe","Annexe"]'></canvas>
							</div>
							<div class="chart-pachalik">
								<p class="text-center mb-4">Pachaliks</p>
								<canvas class="Chart-doughnut" data-label="Annexe" data-colors='["rgb(15, 45, 255)","rgb(52, 51, 153)","rgb(168, 37, 255)"]' data-values='["30","30","50"]' data-labels='["Annexe","Annexe","Annexe"]'></canvas>
							</div>
							<div class="chart-pachalik">
								<p class="text-center mb-4">Pachaliks</p>
								<canvas class="Chart-doughnut" data-label="Annexe" data-colors='["rgb(15, 45, 255)","rgb(52, 51, 153)","rgb(168, 37, 255)"]' data-values='["30","30","50"]' data-labels='["Annexe","Annexe","Annexe"]'></canvas>
							</div>
						</div>
					</div>
					<form action="/" method="post" class="p-4 ms-md-3 mb-3 bg-white">
						<div class="mb-3">
							<label>Nom</label>
							<input type="text" class="form-control" required name="nom_annex" autocomplete="false"/>
						</div>
						<div class="mb-3">
							<label>Abréviation</label>
							<input type="text" class="form-control" required name="abreviation_annex" autocomplete="false"/>
						</div>
						<div class="mb-3">
							<label>Catégories</label>
							<select class="form-control" required name="category_annex">
								<option>Annexe</option>
							</select>
						</div>
						<div class="mb-3">
							<label>Liste des Pachaliks</label>
							<select class="form-control" required name="category_pachalik">
								<option>Pachalik</option>
							</select>
						</div>
						<div>
							<button class="btn btn-small btn-blue">Ajouter</button>
						</div>
					</form>
				</div>
				<div class="s-situation-f">
					<div class="s-table">
						<table class="table text-center">
							<thead>
								<tr>
									<th scope="col">
										Nom de Pachalik
									</th>
									<th scope="col">
										Abréviation
									</th>
									<th scope="col">
										Actions
									</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Nom de Pachalik</td>
									<td>Abr</td>
									<td class="action-download">
										<a href="#">Modifier</a>
										<a href="#">Supprimer</a>
										<a href="#" class="droplink">Liste des annexes</a>
									</td>
								</tr>
								<tr>
									<td colspan="3">
										<table class="table text-center">
											<thead>
												<tr>
													<th scope="col">
														Nom de Pachalik
													</th>
													<th scope="col">
														Abréviation
													</th>
													<th scope="col">
														Actions
													</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>Nom de Pachalik</td>
													<td>Abr</td>
													<td class="action-download">
														<a href="#">Modifier</a>
														<a href="#">Supprimer</a>
														<a href="#">Se retirer du pachalik</a>
													</td>
												</tr>
												<tr>
													<td>Nom de Pachalik</td>
													<td>Abr</td>
													<td class="action-download">
														<a href="#">Modifier</a>
														<a href="#">Supprimer</a>
														<a href="#">Se retirer du pachalik</a>
													</td>
												</tr>
												<tr>
													<td>Nom de Pachalik</td>
													<td>Abr</td>
													<td class="action-download">
														<a href="#">Modifier</a>
														<a href="#">Supprimer</a>
														<a href="#">Se retirer du pachalik</a>
													</td>
												</tr>
												<tr>
													<td>Nom de Pachalik</td>
													<td>Abr</td>
													<td class="action-download">
														<a href="#">Modifier</a>
														<a href="#">Supprimer</a>
														<a href="#">Se retirer du pachalik</a>
													</td>
												</tr>
												<tr>
													<td>Nom de Pachalik</td>
													<td>Abr</td>
													<td class="action-download">
														<a href="#">Modifier</a>
														<a href="#">Supprimer</a>
														<a href="#">Se retirer du pachalik</a>
													</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
								<tr>
									<td>Nom de Pachalik</td>
									<td>Abr</td>
									<td class="action-download">
										<a href="#">Modifier</a>
										<a href="#">Supprimer</a>
										<a href="#">Liste des annexes</a>
									</td>
								</tr>
								<tr>
									<td>Nom de Pachalik</td>
									<td>Abr</td>
									<td class="action-download">
										<a href="#">Modifier</a>
										<a href="#">Supprimer</a>
										<a href="#">Liste des annexes</a>
									</td>
								</tr>
								<tr>
									<td>Nom de Pachalik</td>
									<td>Abr</td>
									<td class="action-download">
										<a href="#">Modifier</a>
										<a href="#">Supprimer</a>
										<a href="#">Liste des annexes</a>
									</td>
								</tr>
								<tr>
									<td>Nom de Pachalik</td>
									<td>Abr</td>
									<td class="action-download">
										<a href="#">Modifier</a>
										<a href="#">Supprimer</a>
										<a href="#">Liste des annexes</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="items-taps" data-show="s-caidats">
				<h1>Cercle & Caïdats</h1>
				<div class="d-md-flex">
					<div class="chart-doughnut w-md-75 p-3 mb-3 mt-0">
						<div class="slider-chart" data-show="4">
							<div class="chart-pachalik">
								<p class="text-center mb-4">Cercle</p>
								<canvas class="Chart-doughnut" data-label="Annexe" data-colors='["rgb(15, 45, 255)","rgb(52, 51, 153)","rgb(168, 37, 255)"]' data-values='["30","30","50"]' data-labels='["Caïdat","Caïdat","Caïdat"]'></canvas>
							</div>
							<div class="chart-pachalik">
								<p class="text-center mb-4">Cercle</p>
								<canvas class="Chart-doughnut" data-label="Annexe" data-colors='["rgb(15, 45, 255)","rgb(52, 51, 153)","rgb(168, 37, 255)"]' data-values='["30","30","50"]' data-labels='["Caïdat","Caïdat","Caïdat"]'></canvas>
							</div>
							<div class="chart-pachalik">
								<p class="text-center mb-4">Cercle</p>
								<canvas class="Chart-doughnut" data-label="Annexe" data-colors='["rgb(15, 45, 255)","rgb(52, 51, 153)","rgb(168, 37, 255)"]' data-values='["30","30","50"]' data-labels='["Caïdat","Caïdat","Caïdat"]'></canvas>
							</div>
							<div class="chart-pachalik">
								<p class="text-center mb-4">Cercle</p>
								<canvas class="Chart-doughnut" data-label="Annexe" data-colors='["rgb(15, 45, 255)","rgb(52, 51, 153)","rgb(168, 37, 255)"]' data-values='["30","30","50"]' data-labels='["Caïdat","Caïdat","Caïdat"]'></canvas>
							</div>
							<div class="chart-pachalik">
								<p class="text-center mb-4">Cercle</p>
								<canvas class="Chart-doughnut" data-label="Annexe" data-colors='["rgb(15, 45, 255)","rgb(52, 51, 153)","rgb(168, 37, 255)"]' data-values='["30","30","50"]' data-labels='["Caïdat","Caïdat","Caïdat"]'></canvas>
							</div>
						</div>
					</div>
					<form action="/" method="post" class="p-4 ms-md-3 mb-3 bg-white">
						<div class="mb-3">
							<label>Nom</label>
							<input type="text" class="form-control" required name="nom_cercle" autocomplete="false"/>
						</div>
						<div class="mb-3">
							<label>Abréviation</label>
							<input type="text" class="form-control" required name="abreviation_cercle" autocomplete="false"/>
						</div>
						<div class="mb-3">
							<label>Catégories</label>
							<select class="form-control" required name="category_cercle">
								<option>Cercle</option>
							</select>
						</div>
						<div class="mb-3">
							<label>Liste des Caïdats</label>
							<select class="form-control" required name="caidat">
								<option>Caïdat</option>
							</select>
						</div>
						<div>
							<button class="btn btn-small btn-blue">Ajouter</button>
						</div>
					</form>
				</div>
				<div class="s-situation-f">
					<div class="s-table">
						<table class="table text-center">
							<thead>
								<tr>
									<th scope="col">
										Nom du Cercle
									</th>
									<th scope="col">
										Abréviation
									</th>
									<th scope="col">
										Actions
									</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Nom du Cercle</td>
									<td>Abr</td>
									<td class="action-download">
										<a href="#">Modifier</a>
										<a href="#">Supprimer</a>
										<a href="#" class="droplink">Liste des caïdats</td>
									</td>
								</tr>
								<tr>
									<td colspan="3">
										<table class="table text-center">
											<thead>
												<tr>
													<th scope="col">
														Nom du Caïdat
													</th>
													<th scope="col">
														Abréviation
													</th>
													<th scope="col">
														Actions
													</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>Nom du Caïdat</td>
													<td>Abr</td>
													<td class="action-download">
														<a href="#">Modifier</a>
														<a href="#">Supprimer</a>
														<a href="#">Se retirer du cercle</a>
													</td>
												</tr>
												<tr>
													<td>Nom du Caïdat</td>
													<td>Abr</td>
													<td class="action-download">
														<a href="#">Modifier</a>
														<a href="#">Supprimer</a>
														<a href="#">Se retirer du cercle</a>
													</td>
												</tr>
												<tr>
													<td>Nom du Caïdat</td>
													<td>Abr</td>
													<td class="action-download">
														<a href="#">Modifier</a>
														<a href="#">Supprimer</a>
														<a href="#">Se retirer du cercle</a>
													</td>
												</tr>
												<tr>
													<td>Nom du Caïdat</td>
													<td>Abr</td>
													<td class="action-download">
														<a href="#">Modifier</a>
														<a href="#">Supprimer</a>
														<a href="#">Se retirer du cercle</a>
													</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
								<tr>
									<td>Nom du Cercle</td>
									<td>Abr</td>
									<td class="action-download">
										<a href="#">Modifier</a>
										<a href="#">Supprimer</a>
										<a href="#">Liste des annexes</a>
									</td>
								</tr>
								<tr>
									<td>Nom du Cercle</td>
									<td>Abr</td>
									<td class="action-download">
										<a href="#">Modifier</a>
										<a href="#">Supprimer</a>
										<a href="#">Liste des annexes</a>
									</td>
								</tr>
								<tr>
									<td>Nom du Cercle</td>
									<td>Abr</td>
									<td class="action-download">
										<a href="#">Modifier</a>
										<a href="#">Supprimer</a>
										<a href="#">Liste des annexes</a>
									</td>
								</tr>
								<tr>
									<td>Nom du Cercle</td>
									<td>Abr</td>
									<td class="action-download">
										<a href="#">Modifier</a>
										<a href="#">Supprimer</a>
										<a href="#">Liste des annexes</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="items-taps" data-show="s-imprimes">
				<h1>LES IMPRIMÉS</h1>
				<div class="s-situation-f">
					<div class="d-flex justify-content-between flex-wrap mb-3">
						<div>
							<label>Importez le fichier
							</label>
							<input type="file" class="form-control" name="file_imprimer"/>
							<div class="d-flex flex-wrap mt-3">
								<a href="#" class="btn btn-small btn-red me-3 mb-2">Supprimer les fichiers sélectionnés</a>
								<a href="#" download class="btn btn-small btn-blue mb-2">Télécharger les fichiers sélectionnés</a>
							</div>
						</div>
					</div>
					<div class="s-table">
						<table class="table text-center">
							<thead>
								<tr>
									<th scope="col">
										<input type="checkbox">
									</th>
									<th scope="col">
										Nom de fichier
									</th>
									<th scope="col">
										Date de l'importation
									</th>
									<th scope="col">
										Type de fichier
									</th>
									<th scope="col">
										Actions
									</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										<input type="checkbox">
									</td>
									<td>Attestation de travaille FR</td>
									<td>00/ 00/ 0000</td>
									<td>doc</td>
									<td class="action-download">
										<a href="#" download>Télecharger</a>
										<a href="#">Supprimer</a>
									</td>
								</tr>
								<tr>
									<td>
										<input type="checkbox">
									</td>
									<td>Attestation de travaille FR</td>
									<td>00/ 00/ 0000</td>
									<td>doc</td>
									<td class="action-download">
										<a href="#" download>Télecharger</a>
										<a href="#">Supprimer</a>
									</td>
								</tr>
								<tr>
									<td>
										<input type="checkbox">
									</td>
									<td>Attestation de travaille FR</td>
									<td>00/ 00/ 0000</td>
									<td>doc</td>
									<td class="action-download">
										<a href="#" download>Télecharger</a>
										<a href="#">Supprimer</a>
									</td>
								</tr>
								<tr>
									<td>
										<input type="checkbox">
									</td>
									<td>Attestation de travaille FR</td>
									<td>00/ 00/ 0000</td>
									<td>doc</td>
									<td class="action-download">
										<a href="#" download>Télecharger</a>
										<a href="#">Supprimer</a>
									</td>
								</tr>
								<tr>
									<td>
										<input type="checkbox">
									</td>
									<td>Attestation de travaille FR</td>
									<td>00/ 00/ 0000</td>
									<td>doc</td>
									<td class="action-download">
										<a href="#" download>Télecharger</a>
										<a href="#">Supprimer</a>
									</td>
								</tr>
								<tr>
									<td>
										<input type="checkbox">
									</td>
									<td>Attestation de travaille FR</td>
									<td>00/ 00/ 0000</td>
									<td>doc</td>
									<td class="action-download">
										<a href="#" download>Télecharger</a>
										<a href="#">Supprimer</a>
									</td>
								</tr>
								<tr>
									<td>
										<input type="checkbox">
									</td>
									<td>Attestation de travaille FR</td>
									<td>00/ 00/ 0000</td>
									<td>doc</td>
									<td class="action-download">
										<a href="#" download>Télecharger</a>
										<a href="#">Supprimer</a>
									</td>
								</tr>
								<tr>
									<td>
										<input type="checkbox">
									</td>
									<td>Attestation de travaille FR</td>
									<td>00/ 00/ 0000</td>
									<td>doc</td>
									<td class="action-download">
										<a href="#" download>Télecharger</a>
										<a href="#">Supprimer</a>
									</td>
								</tr>
								<tr>
									<td>
										<input type="checkbox">
									</td>
									<td>Attestation de travaille FR</td>
									<td>00/ 00/ 0000</td>
									<td>doc</td>
									<td class="action-download">
										<a href="#" download>Télecharger</a>
										<a href="#">Supprimer</a>
									</td>
								</tr>
								<tr>
									<td>
										<input type="checkbox">
									</td>
									<td>Attestation de travaille FR</td>
									<td>00/ 00/ 0000</td>
									<td>doc</td>
									<td class="action-download">
										<a href="#" download>Télecharger</a>
										<a href="#">Supprimer</a>
									</td>
								</tr>
								<tr>
									<td>
										<input type="checkbox">
									</td>
									<td>Attestation de travaille FR</td>
									<td>00/ 00/ 0000</td>
									<td>doc</td>
									<td class="action-download">
										<a href="#" download>Télecharger</a>
										<a href="#">Supprimer</a>
									</td>
								</tr>
								<tr>
									<td>
										<input type="checkbox">
									</td>
									<td>Attestation de travaille FR</td>
									<td>00/ 00/ 0000</td>
									<td>doc</td>
									<td class="action-download">
										<a href="#" download>Télecharger</a>
										<a href="#">Supprimer</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>

	let CurrentForm = 0;
ShowForm(CurrentForm);
function ShowForm(n) {
let x = document.getElementsByClassName('form-step');
x[n].style.display = 'block';
document.getElementById('btnPrevious').style.display = (n == 0) ? 'none' : 'inline';
document.getElementById('btnNext').style.display = ((x.length - 1) == n) ? "none" : "inline";
document.getElementById('btnAjoter').style.display = ((x.length - 1) == n) ? "inline" : "none";
// document.getElementById('tabNumber').innerHTML = n + 1 + "/" + x.length;
}
function ButtonClick(n) {
$('#form1').validate();
let x = document.getElementsByClassName('form-step');
if (n == 1 && !$('#form1').valid()) 
return false;



x[CurrentForm].style.display = 'none';
CurrentForm = CurrentForm + n;
if (x.length == CurrentForm) { // $('#Message').text('The Form is successfully submitted.');
$('#form1').hide();
return false;
}
ShowForm(CurrentForm);
}
</script>
