.s-dashboard {
    background-color: $bg;

    .s-infos {
        padding: 20px;
        grid-column-end: span 4;
        grid-row-end: span 1;

        .cols-shild-two {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-auto-flow: dense;
            gap: 20px;
            grid-row: auto;
            margin-bottom: 20px;
        }
    }
}

.s-formations {
    .tabs-formation {
        overflow: hidden;
    }

    .tabs-formation.tabs-notif {
        .nav.nav-tabs {
            .nav-item {
                width: 20%;

                .nav-link {
                    padding: 15px 8px;
                }
            }
        }
    }

    .tabs-formation.tabs-ajouter {
        .nav.nav-tabs {
            flex-wrap: nowrap !important;

            .nav-item {
                width: 16.5%;
                min-width: auto;

                .nav-link {
                    padding: 15px 0px;

                    span {
                        display: none;
                    }
                }
            }
        }
    }

    .nav.nav-tabs {
        width: 100%;
        justify-content: space-between;
        border: 0;
        margin-bottom: 20px;
        overflow-x: auto;
        overflow-y: hidden;
        align-items: flex-end;

        .nav-item {
            width: 25%;
            min-width: 150px;

            .nav-link {
                text-align: center;
                background: transparent !important;
                border: 0;
                color: $b-color;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    width: 24px;
                    height: 24px;
                    object-fit: contain;
                    object-position: center;
                }

            }

            .nav-link.active {
                border-bottom: 2px solid $blue;
                color: $blue;
            }
        }
    }
}

.action-download {

    a {
        margin: 5px;
    }

    .droplink {
        display: flex;
        align-items: center;

        &::after {
            content: '';
            width: 0;
            height: 0;
            margin-left: 5px;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 5px solid $blue;
        }
    }
}

.wrap-infos {
    padding-bottom: 30px;
    margin-bottom: 15px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border-bottom: 2px solid $border-color;
    overflow: auto;

    .box-info {
        margin-right: 10px;
        min-width: 230px;

        .img-user {
            width: 180px;
            height: 180px;
            border-radius: 50%;
            overflow: hidden;
            border: 4px solid $blue;
            margin-bottom: 20px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }

        a {
            line-height: 1.3;
            color: $blue;
            display: block !important;
            margin-bottom: 9px;
        }

        p {
            line-height: 1.3;
            margin-bottom: 15px !important;
        }
    }
}

@media(min-width:678px) {
    .s-formations {
        .tabs-formation.tabs-ajouter {
            .nav.nav-tabs {
                .nav-item {

                    .nav-link {
                        img {
                            width: 40px;
                            height: 40px;
                        }
                    }
                }
            }
        }
    }
}

@media(min-width:1200px) {
    .s-formations {
        .tabs-formation.tabs-ajouter {
            .nav.nav-tabs {
                .nav-item {
                    min-width: 150px;

                    .nav-link {
                        span {
                            display: block;
                        }

                        img {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}




.d-grid-4 {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: dense;
    gap: 25px;
}

@media(min-width:585px) {
    .d-grid-4 {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }
}

@media(min-width:1100px) {
    .d-grid-4 {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media(min-width:1880px) {
    .d-grid-4 {
        grid-template-columns: repeat(4, 1fr);
        gap: 25px;
    }
}

.s-ajouter {
    padding: 10px 40px 40px;
    min-height: 79vh;
}

.btns-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

label {
    margin-bottom: 5px;
}

input[type='file'] {
    position: absolute;
    width: 100%;
    left: 0;
    top: 20px;
    z-index: 3;
    opacity: 0;
}

.uploadfile {
    width: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;

    span {
        width: calc(100% - 18px);
        overflow: hidden;
    }

    img {
        width: 18px;
        height: 18px;
        object-fit: contain;
    }
}
