<section class="s-login">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-6 col-xl-7 p-1">
				<div class="image-login">
					<img src="../assets/images/login.png" alt=""/>
				</div>
			</div>
			<div class="col-lg-6 col-xl-5 p-1">
				<div class="wrap-login">
					<form action="accueil.html" method="get" id="form-login" class="form-login lg-form show-form">
						<div class="img-login">
							<img src="../assets/images/svg/logo-kigdom.svg" alt=""/>
						</div>
						<h1>Bienvenu à votre plateforme</h1>
						<div class="mb-3">
							<span class="label-inpt">Entrez votre CNIE</span>
							<input type="text" placeholder="Ex : XX00000" name="cnie"/>
						</div>
						<div class="mb-3">
							<span class="label-inpt">Entrez votre mot de passe</span>
							<input type="password" placeholder="Mot de passe" name="password"/>
						</div>
						<div class="btns-form">
							<button class="btn btn-big btn-blue">Se connecter</button>
							<a href="verifier-compte.html" class="btn btn-big btn-border-blue btn-oblier">Mot de passe oublié</a>
						</div>
						<div class="p-warning">
							<img src="../assets/images/svg/ic_warning_24px.svg" alt=""/>
							<p>Merci de ne pas divulguer vos coordonnées personnelles.</p>
						</div>
					</form>
					<form action="#" method="get" class="d-none form-login form-modifier">
						<div class="img-login">
							<img src="../assets/images/svg/logo-kigdom.svg" alt=""/>
						</div>
						<div class="mb-3">
							<p class="text-center">
								Mettre CNIE comme mot de passe
							</p>
						</div>
						<div class="btns-form">
							<button class="btn-big btn-blue w-100 btn-reinitialiser">Réinitialiser mot de passe</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
