.s-login {
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    min-height: 95vh;
    overflow: hidden;

    .img-login {
        width: 140px;
        margin: 0 auto 15px;

        img {
            object-position: center;
            object-fit: contain;
            width: 100%;
            height: auto;
        }
    }

    .image-login {
        width: 100%;
        height: 100%;
        margin-bottom: 20px;
        display: none;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
        }
    }

    .wrap-login {
        width: 100%;
        background-color: $white;
        border-radius: 40px;
        box-shadow: 0 0 5px #cdcdcde0;
        padding: 25px;
        margin-bottom: 20px;
        overflow: hidden;
        display: flex;

        h1 {
            text-align: center;
            margin-bottom: 30px;
            font-size: 1.23rem !important;
        }

        .label-inpt {
            font-size: 1rem;
            color: $color-text;
            font-family: $font1;
            font-weight: 600;
            display: block;
            margin-bottom: 5px;
            line-height: 1;
        }

        .form-login {
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 5px #cdcdcde0;
            background-color: $bg2;
            width: 100%;
        }

        .btns-form {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            flex-direction: column;
        }

        a,
        button {
            margin-bottom: 15px;
            width: 49%;
            min-width: 160px;
        }

        .p-warning {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-top: 15px;

            img {
                width: 30px;
                object-fit: contain;
                margin-right: 10px;
            }

            p {
                color: $orange;
                font-size: 1rem;
                line-height: 20px;
            }
        }
    }
}

@media(min-width:468px) {
    .s-login {
        .wrap-login {
            .btns-form {
                flex-direction: row;
            }
        }
    }
}

@media(min-width:578px) {
    .s-login {
        .wrap-login {
            padding: 40px;

            .form-login {
                padding: 30px;
            }
        }
    }
}

@media(min-width:992px) {
    .s-login {
        .img-login {
            width: 180px;
        }

        .image-login {
            display: block;
        }
    }
}
