<div class="s-navbar">
	<div>
		<div class='img-fonc'>
			<img src="../assets/images/ali-morshedlou-WMD64tMfc4k-unsplash.jpg" alt=""/>
		</div>
		<div class="text-infos">
			<p class="p-strong">JHONE DOE</p>
			<p class="p-nav">Jhone.doe@email.com</p>
			<p class="p-nav">00 00 00 00 00</p>
		</div>
	</div>
	<div class="d-flx">
		<a href="javascript:void(0);" class="hamburger">
			<span class="one"></span>
			<span class="two"></span>
			<span class="tree"></span>
		</a>
	</div>

	<ul class="menu">
		<li class="active-itm" data-display="s-acceuil">
			<a href="javascript:void(0);">
				<img src="../assets/images/icons/Home.png" class="img-normaml" alt=""/>
				<img src="../assets/images/icons/Home-white.png" class="img-hover" alt=""/>
				Accueil
			</a>
		</li>
		<li>
			<a href="dashboard-drh.html">
				<img src="../assets/images/icons/dashboard.png" class="img-normaml" alt=""/>
				<img src="../assets/images/icons/dashboard-white.png" class="img-hover" alt=""/>
				Tableau de bord
			</a>
		</li>
		<li data-display="s-recherche">
			<a href="javascript:void(0);">
				<img src="../assets/images/icons/recherche.png" class="img-normaml" alt=""/>
				<img src="../assets/images/icons/recherche-white.png" class="img-hover" alt=""/>
				Recherche
			</a>
		</li>
		<li data-display="s-notifications">
			<a href="javascript:void(0);">
				<img src="../assets/images/icons/Bell.png" class="img-normaml" alt=""/>
				<img src="../assets/images/icons/logo-notification-white.png" class="img-hover" alt=""/>
				Notifications
			</a>
		</li>
		<li data-display="s-conge">
			<a href="javascript:void(0);">
				<img src="../assets/images/icons/Logo-Demande.png" class="img-normaml" alt=""/>
				<img src="../assets/images/icons/Logo-Demande-white.png" class="img-hover" alt=""/>
				Demande de congé
			</a>
		</li>
		<li data-display="s-documents">
			<a href="javascript:void(0);">
				<img src="../assets/images/icons/Bookmark-Outline.png" class="img-normaml" alt=""/>
				<img src="../assets/images/icons/Bookmark-Outline-white.png" class="img-hover" alt=""/>
				Mes Documents
			</a>
		</li>
		<li data-display="s-parametres">
			<a href="javascript:void(0);">
				<img src="../assets/images/icons/Logo-parametres.png" class="img-normaml" alt=""/>
				<img src="../assets/images/icons/logo-parametres-white.png" class="img-hover" alt=""/>
				Paramètres
			</a>
		</li>
		<li data-display="s-informations">
			<a href="javascript:void(0);">
				<img src="../assets/images/icons/logo-info-personnelle.png" class="img-normaml" alt=""/>
				<img src="../assets/images/icons/logo-info-personnelle-white.png" class="img-hover" alt=""/>
				Mes informations
			</a>
		</li>
		<li>
			<a class="deconnecter" href="javascript:void(0);">
				<img src="../assets/images/icons/logout-svgrepo-com.png" class="img-normaml" alt=""/>
				<img src="../assets/images/icons/logout-svgrepo-com-white.png" class="img-hover" alt=""/>
				Se Déconnecter
			</a>
		</li>
	</ul>
</div>
